[2017-01-13 18:26] davidamichelson opened #1 "License/Copyright"
For now please change the footer to read:

Current:
Creative Commons License This work is licensed under a Creative Commons Attribution 3.0 Unported License.
Copyright Vanderbilt University, Princeton University, and the Contributor(s), 2014.

Revised:
All .xml and .html data copyright Brigham Young University and licensed under the Creative Commons Attribution 4.0 International Public License (ht

[2017-01-13 18:37] #1 closed

[2017-01-13 19:18] jedwardwalters opened #2 "Right justify Syriac paragraphs"
In the display of the text, the paragraphs need to be right justified. We don't need this for the titles, though I wonder about the section numbers. Perhaps those should be right justified too?

[2017-01-13 19:20] jedwardwalters opened #3 "Number in titles"
This is happening on all of them, but for one example see: http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/rec.html?id=syriaccorpus.org/1

In the title, there is a number 1 between the English and Syriac titles. I think this might be the 1 that is supposed to be the header for the first paragraph. All other paragraphs have their section number right above, but not the first one.

[2017-01-13 19:22] jedwardwalters opened #4 "Display fonts"
Some of the pages (for me anyway) are displaying in a standard unicode font, such as:
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/rec.html?id=syriaccorpus.org/1

But others are displaying in a custom font (like Estrangelo Edessa):
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/rec.html?id=syriaccorpus.org/10

Do we have the ability to let people customize which font th

[2017-01-13 19:25] wsalesky commented on #4
Custom fonts are supposed to be used if there is a xml:lang element, however I suspect there are some elements that we simply have not used in Syriaca.org that are not yet specified in the XSLT.

I will take a look at the XSLT. I suspect there will be a bit of customization needed to make things look right.

[2017-01-13 19:28] jedwardwalters opened #5 "Display - line breaks"
On this page: http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/rec.html?id=syriaccorpus.org/24

In the first paragraph there are a few lines that are represented as [...]. In the TEI these are coded with <lb>, as they represent lines missing from the text.

I think there will be texts later in the corpus where line breaks are even more significant than here, so we can decide the best wa

[2017-01-13 22:57] davidamichelson commented on #4
Ideally, and this would be a nice feature to have for all instances of the
Srophe app, we would like to have an option where users could force it to
display with a choice of font.

On Fri, Jan 13, 2017 at 1:25 PM, Winona Salesky <notifications@github.com>
wrote:

[2017-01-13 23:30] wsalesky commented on #4
This most likely can be easily achieved via JavaScript. Let's make sure it all displays correctly in the specified font, and then work on a 'toggle font' feature.

[2017-01-16 17:53] #5 closed

[2017-01-16 18:13] wsalesky commented on #3
I think the display could be improved, perhaps this is something we can discuss at out meeting @davidamichelson ?

[2017-01-16 18:14] wsalesky commented on #4
Not all tei:p elements have xml:lang attributes, so it is not accessing our css defined styles.

[2017-01-16 18:15] jedwardwalters commented on #4
Ah, okay. I can take care of that!

[2017-01-16 18:36] #2 closed

[2017-01-17 16:20] davidamichelson opened #6 "Toggle Font Display"
Split from #4

Winona please research (and perhaps consult with James Bennet if SEDRA has this), a display toggle that would allow users to choose from three possible Syriac fonts that would force the display of all Syriac on the page (or in the user experience?) in the same font.

The options would be

Default (i.e. display the file as encoded)
Estrangela (use Estrangelo Edessa Font)
East Syriac

[2017-01-17 16:33] davidamichelson opened #7 "Browse Options"
Please implement two basic browse forms (each with English and Syriac Options):

1. By Ancient Author (with A-Z tabs) use /TEI/teiHeader/fileDesc/titleStmt/author/@ref (please process the Syriaca.org URI to get the preferred name in English and Syriac)
2. By Title (A-Z tabs) (in the sorting on titles could it treat the numbers as numeric, so that the order is 1, 2, 3, not 1, 10, 11...) use /TEI/te

[2017-01-17 16:33] davidamichelson opened #8 "Remove Arabic Browse"
It is not likely we will need this at this stage.

[2017-01-17 16:37] davidamichelson opened #9 "Change Draft Label"
Current: "DRAFT
see Syriaca.org"

Revised: "DRAFT
not for citation." (no link)

[2017-01-17 16:43] davidamichelson opened #10 "Implement Keyword in context for search results"
Can we do this?

Also, can the URL for the search results take one to the location of the hit for the search?

[2017-01-17 16:45] davidamichelson opened #11 "Copy URI button in Browse and Search Results"
Let's remove this, it is not needed in the corpus.

[2017-01-17 16:55] davidamichelson opened #12 "Browse and Search listing"
Please revise
Current:
"Title: Demonstration 1: On Faith
  D. Ioannes Parisot. Aphraatis Demonstrationes I-XXII. Paris: Firmin-Didot et Socii, 1894URI: syriaccorpus.org/1"

Revised:
"Demonstration 1: On Faith by Aphrahat, the Persian Sage [could you please put the title/author in a more prominent visual way to stand out from the source]
Source:  D. Ioannes Parisot. Aphraatis Demonstrationes I-XXII

[2017-01-17 16:56] davidamichelson opened #13 "Multipart Search and Browse"
We need to brainstorm how to allow users to search and also find in browse a large work that contains sub-parts such as the demonstrations as a whole  <title xml:lang="en" level="s" ref="http://syriaca.org/work/8501">The Demonstrations</title>

[2017-01-17 17:04] davidamichelson opened #14 "Please align Syriac TEI:head/title text to right"
see https://github.com/srophe/syriac-corpus/blob/master/data/tei/10.xml#L97-L99

Currently displaying aligned left

[2017-01-17 17:37] davidamichelson opened #15 "Please make an info box for each page, possibly on the right."
We like this as a possible model:

http://www.perseus.tufts.edu/hopper/text?doc=Perseus:text:1999.02.0002

Above the info box:

[English Title generated from Syriaca.org @ref] - [Syriac Title from Syriaca.org @ref]

The info box should contain the following:

Stable Identifiers:
Corpus Text ID: http://SyriacCorpus.org/10
NHSL Work ID(s): http://syriaca.org/work/8512 (just /TEI/teiHeader/fileDesc/t

[2017-01-17 17:47] wsalesky commented on #14
Is there a reason the xml:lang attribute is on the tei:title not the tei:head element? I can force the head to inherit the child xml:lang element, but I wonder if it might be better to just add the xml:lang to the tei:head element? (This is from a purely data handling point of view. )

[2017-01-17 17:48] #3 closed

[2017-01-17 17:50] #8 closed

[2017-01-17 17:52] #9 closed

[2017-01-17 17:59] #11 closed

[2017-01-17 18:00] wsalesky commented on #10
Yes, I think we can. I will take a look. How is the Syriac search?

[2017-01-17 18:35] davidamichelson opened #16 "How to Cite this Electronic Edition contents"
Please revise first citation to read:

[TEI:titleStmt/author], "[TEI:titleStmt/title/[1]]", in _The Oxford-BYU Syriac Corpus [This is from TEI:titleStmt/title/[last] but not sure how we could mark it]_, last modified [revisionDesc/change[1]], publicationStmt/idno/@type="URI"].

or

Aphrahat, the Persian Sage, “Demonstration 1: On Faith,” in _The Oxford-BYU Syriac Corpus_, last modified January 1,

[2017-01-17 18:37] davidamichelson commented on #14
We could do that or we could put both titles in the same head. Let's discuss tomorrow.

[2017-01-17 18:38] davidamichelson commented on #10
Okay, but will need some innovation. We can discuss. I think we will want to have * by default rather than optional

[2017-01-18 15:25] #12 closed

[2017-01-18 16:03] wsalesky commented on #16
How does this look?

[2017-01-18 16:43] wsalesky commented on #6
I have added this function. I will need to work out a more attractive layout for the 'swap' menu.

[2017-01-18 16:44] wsalesky commented on #6
Note: this will only work with elements that have the xml:lang attribute.

[2017-01-18 18:05] wsalesky commented on #14
Keep xml:lang on both.

[2017-01-18 18:40] wsalesky commented on #7
Is the eventual plan for this application to have it's own server? Or will it always be sharing a repository with Syriaca.org?

[2017-01-18 19:37] jedwardwalters commented on #4
Done.

[2017-01-18 19:37] #4 closed

[2017-01-18 22:01] davidamichelson commented on #7
It will have its own server.

On Wed, Jan 18, 2017 at 12:40 PM, Winona Salesky <notifications@github.com>
wrote:

[2017-01-20 18:09] wsalesky opened #17 "TOC for records"

[2017-01-20 18:11] #17 closed

[2017-01-20 20:56] wsalesky commented on #15
First run...
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/rec.html?id=syriaccorpus.org/10

(Not yet pulling in the Syriaca.org info. )

[2017-01-31 16:28] davidamichelson opened #18 "Error on Title"
Currently reads "Title app:get-srophe-title()" in the right side bar.

[2017-01-31 16:30] davidamichelson opened #19 "Delete period"
There should not be a period after "corpus"

"Copyright and License for Reuse
Except otherwise noted, this page is © The Oxford-BYU Syriac Corpus. and released under a

Creative Commons — Attribution 4.0 International — CC BY 4.0"

[2017-01-31 16:36] davidamichelson opened #20 "Source formatting"
In the right hand box, please use the Chicago bibliography stylesheet instead of footnote style. This is the style sheet that generates the "Preferred Citation" format in the bibl module.

This correct stylesheet is already used here: http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/browse.html?view=facets please use it on the individual text pages as well.

[2017-01-31 16:40] davidamichelson opened #21 "Need line double space between"
syriaccorpus.org/10.

Publication Date:

in How to cite

[2017-01-31 16:41] davidamichelson opened #22 "Is this record complete"
Please get rid of this link, keep the corrections button

[2017-01-31 16:44] davidamichelson opened #23 "Please update the text for Notify the editors of a mistake:"
@jedwardwalters

Notify the editors of a mistake:

Using the following form, please inform us which page URI the mistake is on, where on the page the mistake occurs, the content of the correction, and a citation for the correct information (except in the case of obvious corrections, such as misspelled words). Please also include your email address, so that we can follow up with you regarding anyth

[2017-01-31 16:46] davidamichelson opened #24 "Remove footer version of How to Cite this Electronic Edition"
We only need this on the sidebar

[2017-01-31 19:21] #24 closed

[2017-01-31 21:57] #22 closed

[2017-02-01 15:54] #21 closed

[2017-02-01 16:17] #20 closed

[2017-02-01 16:21] wsalesky commented on #16
@davidamichelson Can I mark this as resolved?

[2017-02-01 16:23] wsalesky commented on #10
@davidamichelson @jedwardwalters
Can I have a few search terms to test the KWIC? (Syriac terms that will show up in multiple records, preferably in multiple locations in a document.)

[2017-02-01 16:24] #19 closed

[2017-02-01 16:25] jedwardwalters commented on #10
Sure! No problem. Here are a few you could try:
ܐܓܪܬܐ
ܡܐܡܪܐ
ܗܝܡܢܘܬܐ
ܡܫܝܚܐ

[2017-02-01 16:28] wsalesky commented on #10
Excellent! Thank you. Should have something for testing shortly.

[2017-02-02 03:01] wsalesky opened #25 "restxq on dev, interferes with srophe restxq"

[2017-02-02 03:33] #6 closed

[2017-02-02 16:50] davidamichelson commented on #16
Yes, though we should probably visualize funder on there.

On Wed, Feb 1, 2017 at 10:21 AM, Winona Salesky <notifications@github.com>
wrote:

[2017-02-06 02:17] wsalesky commented on #16
@davidamichelson @jedwardwalters How would you like to see the funder visualize?

[2017-02-06 02:19] jedwardwalters commented on #16
This may ultimately be a question for Kristian. He may have particular images or language that he wants incorporated. Maybe when we invite him to view the prototype that can be something we ask him about.

[2017-02-06 02:21] wsalesky commented on #16
Okay. I think I will close this ticket and open a new one for funders. Thanks!

[2017-02-06 02:21] #16 closed

[2017-02-06 02:21] wsalesky opened #26 "Visualize funder information/logo"
Need some feedback on how this should be displayed.

[2017-02-06 03:14] wsalesky commented on #10
Enabled keyword in context, have not yet hooked up the link to the correct place in the record.

[2017-02-06 03:16] wsalesky opened #27 "Search options"
@jedwardwalters  @dlschwartz
Current search is just using the Syriaca.org default search options. We will need to make a list of fields that should be searched and limits/filters should be enabled.

[2017-02-06 03:19] jedwardwalters commented on #10
That looks really great.

[2017-02-06 15:35] dlschwartz commented on #10
Fantastic!

[2017-02-07 14:46] jedwardwalters opened #28 "Table of Contents"
The left hand table of contents element is great, but we noticed something: When you view an individual work (http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/rec.html?id=syriaccorpus.org/1) on a mobile device or if you shrink down a browser window (see attached photo), the TOC element stretches across the screen leaving a ton of white space and bumping the text down below.

Do we have

[2017-02-07 14:48] jedwardwalters opened #29 "Editorial Responsibility"
In the "How to Cite..." box on the right, it would be great if we could split the names of the editors onto separate lines rather than in a block paragraph.

So:
David G.K. Taylor, University of Oxford
Aaron Butts, The Catholic University of America
Kristian S. Heal, Brigham Young University
George A. Kiraz, Beth Mardutho: The Syriac Institute
David A. Michelson, Vanderbilt University
Daniel L. Sc

[2017-02-07 14:53] jedwardwalters opened #30 "Status element"
In the box on the upper right hand side (with Stable Identifiers, etc.), it would be great if we could have one more element below "Source" called "Status:"

Then we could clearly identify the editorial status of each work for our audience; i.e. "edited" "unedited" etc. (and we would come up with a standard nomenclature for what each status represents).

Also, if you have any thoughts about the be

[2017-02-07 14:57] wsalesky commented on #30
For Syriaca.org we use the
`teiHeader/tei:revisionDesc/@status`

[2017-02-07 15:06] jedwardwalters commented on #30
Okay, great. That's where I assumed it might go. Just wanted to double check up front.

[2017-02-07 15:39] jedwardwalters opened #31 "Corpus not displaying"
I just merged a set of edits that adds https:// to all the syriaccorpus.org URIs, and now the corpus isn't displaying. I assume that's my fault since the timing corresponds with my edit.

Do I need to fix something? Or is that a fix on your end?

Here's the pull request (from syriac-corpus, not from syriac-corpus-app):
https://github.com/srophe/syriac-corpus/commit/ab5856d364e03205812f2bdc635229b0

[2017-02-07 15:41] wsalesky commented on #31
I will take a look. I think it is related to the changed ids. Not sure why they are not being picked up.

[2017-02-07 15:41] jedwardwalters commented on #31
Ah, the corpus does actually display. You just have to add https:// in the temporary URL for the dev site. So:
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/rec.html?id=https://syriaccorpus.org/1

[2017-02-07 15:43] wsalesky commented on #31
Fixed. The config.xml, sets the URI pattern, which has changed. I updated it.

[2017-02-07 15:43] #31 closed

[2017-02-07 15:44] jedwardwalters commented on #31
Thanks!

[2017-02-07 16:12] jedwardwalters commented on #26
Two things (ultimately):

1) on landing page, there should be logos for funding

2) on each page, along with editorial information in the right hand "How to Cite" box, it would be great to include a "Funder" section to be taken from <funder> in <titleStmt>

[2017-02-08 15:20] #29 closed

[2017-02-08 15:29] wsalesky commented on #26
Added it to the citation for each record. Will list any funders in the `titleStmt/funder`. Will add logos to landing page when I have them.

We also need some content for that page.

[2017-02-08 15:31] jedwardwalters commented on #26
Great, thanks. I'll make an issue for myself to work on content for the landing page. So we can go ahead and close this and I'll make a note about funding logos in that issue.

[2017-02-08 15:32] wsalesky commented on #26
Sounds good.

[2017-02-08 15:32] #26 closed

[2017-02-08 15:32] jedwardwalters opened #32 "Landing page"
Need content for landing page

Also need to get funder logos from Kristian to be displayed there.

[2017-02-08 15:32] #15 closed

[2017-02-08 17:56] davidamichelson commented on #18
@jedwardwalters @nathangibson We need to push the approx 25 NHSL records to production for Aphrahat so we can use them for the corpus API, would that be fine to do in a silent way please?

[2017-02-08 18:07] wsalesky opened #33 "Update script"
In order not to slow down the browse we should not use the API but instead periodically synch the corpus title and author information (in Syriac and English) with NHSL.
A script will make sure that for each Corpus TEI file that has in it’s titleStmt title(s) and author(s) @refs with Syriaca.org URIS, the text nodes match the headwords in NHSL and SBD. Note this means that each corpus records shoul

[2017-02-08 19:54] jedwardwalters commented on #18
Okay, that sounds good to me. Let me know if I need to do anything.

[2017-02-09 06:20] nathangibson commented on #18
OK, I will try to do this soon.

[2017-02-09 19:35] jedwardwalters commented on #28
@wsalesky I just noticed this implementation, and I think it's great. I checked it on my phone/iPad, and it works perfectly.

[2017-02-09 20:13] dlschwartz commented on #28
Agreed! That looks smart.

[2017-02-09 20:26] wsalesky commented on #28
Great! I will close this then.

[2017-02-09 20:26] #28 closed

[2017-02-10 04:48] wsalesky commented on #10
I added the div number and also links from results directly to the div in the document.

[2017-02-10 20:03] jedwardwalters commented on #10
This is great, @wsalesky.

I noticed one thing, which is very minor: if a word is in the title, the <div> number search result does not reflect that.

For example, see the search here: http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/search.html?q=ܐܓܪܬܐ

The very first entry has 19 as the section number, but the word is actually in the title, not section 19. I don't think this is a huge

[2017-02-10 20:50] wsalesky commented on #10
We can probably fix that.

[2017-02-13 00:25] wsalesky commented on #10
Fixed.

[2017-02-13 00:25] #10 closed

[2017-02-14 14:16] wsalesky commented on #33
These works (referenced by the `tei:title/@ref`) do not seem to be up on either dev or production server. @nathangibson is this correct? I can not run this script, or even really test it successfully without these records.  Can you let me know when they are up. Thanks!

[2017-02-14 15:20] wsalesky commented on #7
Initial code is up. Will require more testing as more records (with other titles and authors) are added.

[2017-02-14 15:52] nathangibson commented on #33
@wsalesky Sorry, I've been ill. I will try to get them up soon.

[2017-02-14 15:57] wsalesky commented on #33
@nathangibson no problem, jut rounding up my issues list. Hope you feel better soon.

[2017-02-16 01:52] jedwardwalters commented on #23
@davidamichelson Here is the revised text. How does it look to you?
@wsalesky If Dave approves, this text can be used for the "Corrections/Additions" button on Syriac Corpus.

Notify the editors of a mistake:
Using the following form, please inform us which page URI the mistake is on, where on the page the mistake occurs, the content of the correction, and a citation for the correct information (e

[2017-02-16 16:38] nathangibson commented on #33
@wsalesky The work records are up now in NHSL.

@jedwardwalters Can you take a look at the TEI in https://github.com/srophe/syriac-corpus-app/issues/33 (visualized at http://wwwb.library.vanderbilt.edu/exist/apps/srophe/work/8501 and contained works) and let me know if there's anything that needs correcting? Keep in mind that visualization is still going to get some tweaking and the volume title "

[2017-02-16 20:19] jedwardwalters commented on #33
@nathangibson This all looks good to me. I didn't check every single contained work, but they all seem to be displaying correctly.

[2017-02-16 20:26] nathangibson commented on #33
@jedwardwalters Great. I just realized I missed @wsalesky 's point about needing to include Syriac titles for the script to work. I see that you have the Syriac titles in the corpus records. Would you want to paste them into the NHSL records, or should I do it? (With so few of them, I don't think it's worth scripting it.)
E.g., for Demonstration 1 (work/8503), there would be two changes:
1. in the

[2017-02-16 20:27] jedwardwalters commented on #33
@nathangibson Sure, I don't mind doing that. And I think you're right. There are few enough titles that this could easily be done manually.

[2017-02-16 20:28] nathangibson commented on #33
Thanks!

[2017-02-16 22:17] dlschwartz commented on #27
I think we discussed this in a recent meeting. Can we close this?

[2017-02-17 01:51] jedwardwalters commented on #18
I think this is resolved now that you've published the NHSL records, right @nathangibson?

[2017-02-17 02:14] jedwardwalters commented on #27
@dlschwartz It has been sitting on my to-do list to communicate to Winona what we talked about at our recent meeting. So this is as good an excuse as any to cross it off!

@wsalesky For the search options, we discussed having the following options:
1) Author:
/TEI/teiHeader/fileDesc/titleStmt/author

2) Title:
/TEI/text/body/div1/head/title

3) Section number
/TEI/text/body/div1/div2/head

4) Corp

[2017-02-17 12:20] nathangibson commented on #18
Not sure. These are on dev right now. Dave originally said these have to go to production to fix the error, but I don't see where the original error is.

[2017-02-17 13:47] wsalesky commented on #18
They need to go to production in order for the script to grab the title.

[2017-02-17 13:53] nathangibson commented on #18
OK, I'll move them now. @jedwardwalters is working on getting Syriac titles in, so I can copy them over again once he does that.

[2017-02-17 14:31] nathangibson commented on #18
OK, @wsalesky I've copied them to master, but I can't bring them up on the server. When I look under webhooks "recent deliveries" it looks successful, but they just pull up a 404 when I try to go to e.g. http://syriaca.org/work/8501.

[2017-02-17 14:32] jedwardwalters commented on #18
@nathangibson I was just about to start working on this. So should I still edit the files on the dev server?

[2017-02-17 14:34] nathangibson commented on #18
Yes, please. I'll copy them over again when you're done. But please note that @wsalesky will be working on the dev server for the next hour. I think you're fine if you're just using github and not trying to load pages at http://wwwb.library.vanderbilt.edu/.

[2017-02-17 14:35] jedwardwalters commented on #18
Okay. Will do.

[2017-02-17 14:37] jedwardwalters opened #34 "New text added for testing"
I added a new text yesterday to the TEI data in syriac-corpus (syriac-corpus/data/tei/26.xml), but it isn't showing up yet on the dev website. Did I miss something? Or is there a reason it isn't getting pulled over automatically?

[2017-02-17 14:38] wsalesky commented on #18
@nathangibson Looks like most of the NHSL records failed to upload. You can see this by clicking on the 'response' tab. It shows green because some of the uploads were successful. I will try to upload them manually.

[2017-02-17 14:44] nathangibson commented on #18
Thanks.

[2017-02-17 14:44] jedwardwalters commented on #33
@nathangibson While I'm working on this anyway, would it make sense to go ahead and add the Syriac text of the title into the <titleStmt><title> element in the corpus files?

So, in other words, I would make the same change as your first one suggested above in both the /work and the /syriaccorpus files. Does that make sense?

[2017-02-17 14:52] wsalesky commented on #18
@nathangibson Okay, I added them.

[2017-02-17 14:57] jedwardwalters commented on #34
Okay. I'll have some follow up questions/issues about how to display this text. So I'll close this issue and start a new one for those.

[2017-02-17 14:57] #34 closed

[2017-02-17 14:59] wsalesky commented on #18
@nathangibson errr, now that I think about it having these on the production server will cause some issues (they will show up in search and browse). I think perhaps we should remove them and I can rethink how the corpus and syriaca.org will share data. Sorry for the extra work!

[2017-02-17 15:02] nathangibson commented on #18
No problem. Shall I just revert the commits?

[2017-02-17 15:02] wsalesky commented on #18
Yes. Sorry about that. Still trying to work out how everything will talk to each other.

[2017-02-17 15:54] jedwardwalters commented on #33
Okay, @nathangibson--I changed all the files and just merged them into the dev server.

[2017-02-17 16:05] nathangibson commented on #18
OK, I've reverted. (I also accidentally reverted an earlier revert, so now the commit history looks crazy, but I think it should be correct!)

[2017-02-17 16:08] nathangibson commented on #33
Awesome, thanks!

[2017-02-17 17:54] jedwardwalters opened #35 "Displaying a poetic text"
@wsalesky ,
I have now uploaded a poetic text for display testing. Here's the code: https://github.com/srophe/syriac-corpus/blob/master/data/tei/26.xml

And here's the display: http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/rec.html?id=https://syriaccorpus.org/26

Two issues right now:
1) we will want poetic texts like this to be visualized line by line. So, in the TEI, I just labeled

[2017-02-18 16:37] jedwardwalters opened #36 "Syriac search"
Is there any way to adjust our search so that a search for a word without vowels will catch the same word if it happens to include vowels?

For example, if I search ܡܐܡܪܐ, I get these results:
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/search.html?q=ܡܐܡܪܐ

But in the new Jacob text, which includes vowels, I have to search for ܡܺܐܡܪܳܐ to get the same word to show up:
http://wwwb.li

[2017-02-18 17:53] davidamichelson commented on #36
Yes, we should be able to supply Winona with the list of the vowels and
perhaps have a box to check for if the search should include vowels or not.

On Sat, Feb 18, 2017 at 10:37 AM, jedwardwalters <notifications@github.com>
wrote:

[2017-02-20 14:41] dlschwartz commented on #36
@davidamichelson, @jedwardwalters How would this suggestion work in practice Dave? Would searching "with vowels" accommodate East and West or would we need separate searches for those? What about dots? Would we exclude all/most of them from every search?

[2017-02-20 14:49] dlschwartz commented on #36
Seyame is a particular problem since it can appear just about anywhere in a word.

[2017-02-20 14:51] dlschwartz commented on #36
Would anyone want to search only the vocalized texts? Maybe but how often?

How about this?
1. take a string input into a search box, strip out the vowels and dots other than seyame
2. search the corpus for words while ignoring the vowels/dots in the corpus words, except for seyame
3. when a search string includes a seyame, return results from the corpus for relevant words containing a seyame no m

[2017-02-20 14:51] davidamichelson commented on #36
These can be included on an excluded characters list. Please put this on the agenda for Wednesday.

[2017-02-20 14:53] dlschwartz commented on #36
Maybe we want to accommodate some users who just want to search for dots. The ability to do so might even help in proofreading the corpus.

I'll put this on the agenda for discussion tomorrow.

[2017-02-20 14:57] jedwardwalters commented on #36
I’m trying to imagine a scenario where someone would need/want the vowels as part of the search. I suppose if our corpus got large enough this could be useful, but as a bare minimum we need the ability to search for lexemes without any pointing (including seyame, as Dan mentioned) that will still include results from pointed and unpointed texts.

[2017-02-20 15:03] dlschwartz commented on #36
What about students who can't yet read unvocalized text looking for a word?

Do we markup language and vocalization in the header? It might be nice if a user in the process of learning the language could at least browse for East Syriac vocalized text or West Syriac unvocalized.

[2017-02-21 16:40] wsalesky commented on #27
I added these fields. Please test and let me know if you find any bugs or unexpected behaviors.
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/search.html

Thanks!

[2017-02-21 17:01] wsalesky commented on #35
How is this:
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/rec.html?id=https://syriaccorpus.org/26

[2017-02-21 17:06] jedwardwalters commented on #35
This looks great upon an immediate inspection.

I see that it pulled the number out, just like I asked--so that's great. Is that the best way to do that? I'm happy to do a different set up if there is a better/easier option for how that gets represented.

Also, a very small issue that might be related to how best to represent the number in the TEI: it seems to be displaying the line number in the

[2017-02-21 17:13] wsalesky commented on #35
This TEI format work fine. Let me see what I can do about the Syriac font on the number, that was not intentional.

[2017-02-21 17:20] wsalesky commented on #35
Fixed font.

[2017-02-21 17:23] jedwardwalters commented on #35
Perfect. Thanks. I'll let you know if I have any other thoughts on this later when I have a few more minutes to look, but if not I'll just close the issue.

[2017-02-21 17:43] wsalesky commented on #35
Sounds good.

[2017-02-22 14:58] jedwardwalters commented on #35
Okay, two quick thoughts here:
1) The Syriac font seems rather large, particularly in comparison with the other texts. Is there a particular reason why it's that large?

2) I wonder if there's an easy way that we could make a toggle display switch so that if someone wanted to view it not broken out line by line, they could easily do so?

Note: on point number 2, I'm thinking of future texts too wh

[2017-02-22 15:00] wsalesky commented on #35
Yes, we can have toggle displays, I will just need to add some better css classes so it is easier to switch. And we can adjust the font size for Syriac, I'm not sure why the default is so much larger on the Corpus then on Syriaca.org.

[2017-02-22 15:08] jedwardwalters commented on #35
Great! Thanks.

Figuring out what kind of display toggles we need will probably be sort of ad hoc for a little while as the corpus grows--and we are in most cases reliant upon the kind of information that people chose to include in their transcriptions (i.e. like whether they included page breaks, etc).

For example, right now I'm working on another poetic text as a test case, and it does include

[2017-02-22 15:11] wsalesky commented on #35
Most of that sort of stuff is handled by JavaScript and CSS, so, not to complicated.

[2017-02-22 15:28] jedwardwalters commented on #27
One thing I noticed here: the section number box doesn't actually limit the results. See attached photos--with that search option, I should only see the line where the desired keyword (ܚܒܝܒܝ) appears in section 5. But it shows me all the occurrences of the word in that work. So, we don't want it to capture the 5 as a search result, but we want the keyword search restricted to the section number. (

[2017-02-22 21:28] jedwardwalters opened #37 "New text for testing"
I just added a new text, but like the last one it's not getting pulled over into the dev site for display.
https://github.com/srophe/syriac-corpus/blob/master/data/tei/27.xml

[2017-02-22 21:34] jedwardwalters commented on #37
Nevermind. It was a typo on my part. Sorry!

[2017-02-22 21:34] #37 closed

[2017-02-23 01:32] jedwardwalters commented on #36
@davidamichelson and @dlschwartz, did you guys discuss this with Winona today?

[2017-02-23 20:35] dlschwartz commented on #36
We did, and Winona is working on it. It's great to have eastern and western vowels in the corpus. That should help. Thanks.

[2017-02-25 02:35] jedwardwalters opened #38 "Corpus URIs for Work containing other Works"
Should I be minting syriaccorpus URIs for collected works that contain individual works? For example: The Demonstrations. I know we need syriaca.org/work URIs for such collected work titles, but I actually can't think of a reason why we would need corpus URIs for them.

Any thoughts, @nathangibson @davidamichelson @dlschwartz?

[2017-02-25 02:55] davidamichelson commented on #38
That seems right, corpus IDs should always correspond to a specific file. One URI per file. If no file, no corpus URI.

[2017-02-25 11:46] nathangibson commented on #38
I would agree with that approach too.

[2017-02-26 01:55] jedwardwalters commented on #38
Okay, that's what I thought. Just wanted to make sure I wasn't missing something!

[2017-02-26 01:55] #38 closed

[2017-03-02 14:21] jedwardwalters opened #39 "New texts not displaying"
I keep having this issue where new texts that I add aren't automatically showing up on the dev site. Most recently, it's texts 28 and 29 in the corpus. Any ideas? Perhaps something I'm doing wrong?

[2017-03-02 21:49] wsalesky commented on #39
Sorry for the delay, I added them manually. It is unclear what is making some of these fail via webhooks and not others. I am going to leave this open so we can investigate it more.

[2017-03-03 14:12] wsalesky commented on #39
I found the problem in the git-sync script. Let me know if you have any additional problems. (I pushed the most recent commit, 30.xml, 31.xml and 32.xml)

[2017-03-03 14:12] #39 closed

[2017-03-03 14:12] jedwardwalters commented on #39
Great, thanks!

[2017-03-03 16:22] jedwardwalters opened #40 "Display for manuscript source"
Some of the texts will come from manuscripts, not from published editions, which means the <sourceDesc> will be different. So, we need to be able to display a manuscript name as the source in addition to printed works.

Here is an example:
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/rec.html?id=https://syriaccorpus.org/31
Data here:
https://github.com/srophe/syriac-corpus/blob/mast

[2017-03-03 21:39] jedwardwalters commented on #39
FYI, I just added three new texts and they went up immediately. Thanks!

[2017-04-12 01:11] #40 closed

[2017-04-12 01:12] jedwardwalters commented on #35
Closing this issue to consolidate text structure/display issues.

[2017-04-12 01:12] #35 closed

[2017-04-12 01:20] jedwardwalters commented on #33
It looks like we can close this one? @wsalesky @nathangibson

[2017-04-12 01:24] jedwardwalters commented on #14
@wsalesky I think we can close this one?

[2017-04-12 02:03] jedwardwalters opened #41 "Text structure and visualization"
@wsalesky After a couple of weeks of thinking about this, we worked out a system for the text structure for the corpus. Hears what we came up with:

Certain elements are allowed to contain Syriac text, but these text blocks must correspond to the intellectual structure of the text. The allowed elements are: tei:div, tei:ab, tei:p, tei:lg, tei:l (only poetry). The numbering for these elements MUST

[2017-04-12 02:06] jedwardwalters opened #42 "Toggle head TOC"
@wsalesky Can we create a “hide tei:head” button in the TOC that would hide all text nodes of tei:node? The goal here is that if someone wants to copy/paste large chunks of text, they could choose whether they want those headings displayed or not.

[2017-04-12 02:08] jedwardwalters opened #43 "Milestone types"
List of controlled values for tei:milestone/@type:

[2017-04-12 12:32] wsalesky commented on #14
Okay.

[2017-04-12 12:32] #14 closed

[2017-04-12 13:16] wsalesky commented on #33
I think so. @nathangibson ?

[2017-04-12 15:36] jedwardwalters commented on #41
@davidamichelson When a text comes from a manuscript, not a printed edition, what should we do for the "ed" source in the pb elements? We decided to use bibl URIs for printed editions.

Ideally, I suppose we would have a manuscript URI to use instead of a bibl URI, but then of course we'd have to create a manuscript catalogue file for every manuscript we use. Thoughts?

[2017-04-12 16:40] davidamichelson commented on #41
This is related to https://github.com/srophe/syriac-corpus/issues/48

[2017-04-12 16:41] davidamichelson commented on #41
Related https://github.com/srophe/syriac-corpus-app/issues/42

[2017-04-12 16:43] davidamichelson commented on #41
Default display for TOC should be tei:div

[2017-04-12 17:18] wsalesky opened #44 "Sedra integration"
Expected functionality:
Every Syriac word should be clickable. Clicking triggers popup to in the right hand column with results from Sedra for that word.

[2017-04-12 19:15] jedwardwalters commented on #41
Okay, sounds good. Should I just use the next available URI from the Wright Decoder google doc? Or choose a block of numbers for this purpose?

[2017-04-13 15:48] wsalesky commented on #41
Will the `tei:div, tei:ab, tei:p, tei:lg, tei:l ` all have a type attribute? Or will that only be for `tei:div` and `tei:ab`?

[2017-04-13 18:17] jedwardwalters commented on #41
Hmm. Good question. Right now I can’t think of a reason we would need to have a type on tei:p or tei:l. It’s possible that in some kinds of poetry we might want to use a type on tei:lg, but I’m not positive about that.

[2017-04-13 19:10] dlschwartz commented on #41
tei:div and tei:ab -- definitely

tei:p cannot take a type attribute (there's actually an ongoing conversation at this very moment on the TEI list). I believe the same is true for tei:l.

I could imagine typing different kinds of stanzas (and tei:lg allows a type attribute) but I'm not sure why we would need to do so. If we wanted to make users aware of different kinds of poetry in the collection,

[2017-04-13 19:35] davidamichelson commented on #41
I think you should use the bloc that you started for the French and HMML
uris?

On Wed, Apr 12, 2017 at 2:15 PM, jedwardwalters <notifications@github.com>
wrote:

[2017-04-13 19:36] jedwardwalters commented on #41
Okay, will do. I thought of that and meant to mention it. That’s an easy solution.

[2017-04-14 11:23] wsalesky commented on #41
@dlschwartz  Thanks, I'm just writing the code to generate the toggle function, some elements will toggle on the @type and some will have to toggle based on the element I think. Should have something to look at on Wednesday.

[2017-04-18 16:08] wsalesky commented on #41
Still a work in progress.

[2017-04-19 16:56] dlschwartz commented on #43
@jedwardwalters We discussed in our meeting today that each of the milestone-like elements should have a type attribute. This would include the elements ab, pb, milestone, etc. I'm guessing you have this in mind already but I wanted to confirm. Thanks Jamey!

[2017-04-21 02:15] jedwardwalters commented on #43
@dlschwartz Yes, I think that's the case so far. At any rate, I'll make sure it is moving forward.

[2017-04-21 02:17] jedwardwalters opened #45 "Structure test"
@dlschwartz Here's my second attempt at the Chronicle of Edessa. What do you think about this structure? Specifically about using the tei:ab within the tei:div as a way to distinguish between the two ways of viewing the text?
https://github.com/srophe/syriac-corpus/blob/master/data/tei/57.xml

[2017-04-24 21:05] dlschwartz commented on #45
@jedwardwalters I'm debating on this still. The problem is that both the mss order and the chronological order ultimately refer to the same text structure. They are just two different ways of organizing those pieces of the text. Ideally we would apply two different numbering systems to that text structure. TEI doesn't naturally go for that though.

I just asked a colleague and she suggested `<div2

[2017-04-25 00:31] jedwardwalters commented on #45
Okay. Yes, I’m planning to join the meeting tomorrow.

[2017-05-10 17:21] davidamichelson commented on #44
Could we have a mock up of this using whatever his api has working by the 23?

[2017-05-16 13:47] wsalesky commented on #25
Resolved

[2017-05-16 13:47] #25 closed

[2017-05-16 15:28] wsalesky commented on #43
Closer now. Will need to test some additional types.

[2017-05-16 15:29] #42 closed

[2017-05-16 15:29] wsalesky commented on #41
Will need additional testing, but working fairly well.

[2017-05-16 16:59] wsalesky opened #46 "View TEI link broken"

[2017-05-16 17:01] wsalesky commented on #46
Fixed, also enabled 'short' URLs.
ie: http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/17

[2017-05-16 17:01] #46 closed

[2017-05-16 17:02] wsalesky opened #47 "Broken KWIC in search"

[2017-05-16 17:02] #47 closed

[2017-05-17 16:39] davidamichelson opened #48 "Show Full Publication Information Expander Button does not work"

[2017-05-17 16:41] davidamichelson opened #49 "Please revise the header title #88"
Sorry posted here https://github.com/srophe/syriac-corpus/issues/88

[2017-05-17 16:42] davidamichelson commented on #49
Change "[Logo TBA] Syriac Corpus" to "[LOGO TBA] The Oxford-BYU Syriac Corpus"

[2017-05-17 16:43] davidamichelson opened #50 "Please revise license statement #89"
Add sentence after "All .xml and .html data copyright Brigham Young University and licensed under the Creative Commons Attribution 4.0 International Public License."

to read

All .xml and .html data copyright Brigham Young University and licensed under the Creative Commons Attribution 4.0 International Public License. Underlying Syriac raw text is in the public domain.
The Oxford-BYU Syriac Corpu

[2017-05-17 16:43] davidamichelson opened #51 "Corrections additions button is not yet functioning"

[2017-05-22 13:27] #50 closed

[2017-05-22 13:29] #49 closed

[2017-05-22 14:15] #48 closed

[2017-05-22 14:15] wsalesky commented on #23
I used this text. We can change it at any time.

[2017-05-22 14:15] #23 closed

[2017-05-25 17:30] wsalesky commented on #51
This is fixed, although the email is not set up to go to the correct editors.

[2017-05-25 17:30] #51 closed

[2017-05-25 20:50] davidamichelson commented on #51
Also the recaptcha did not work on the Gazetteer, is this the same fix?

On Thu, May 25, 2017 at 12:30 PM, Winona Salesky <notifications@github.com>
wrote:

[2017-05-25 20:55] wsalesky commented on #51
Production or development?

[2017-05-25 22:18] davidamichelson commented on #51
Not sure, was reported by a user yesterday

On Thu, May 25, 2017 at 3:55 PM, Winona Salesky <notifications@github.com>
wrote:

[2017-05-28 13:15] wsalesky opened #52 "Add Sedra logo to Lexeme box"

[2017-05-29 00:58] wsalesky commented on #52
Logo will be refined at a later date.

[2017-05-29 15:44] #44 closed

[2017-05-29 16:19] wsalesky commented on #27
@jedwardwalters Finally getting around to some of these teaks. I have added a filter to limit keyword in context results to section # if present in search.
Example:
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/search.html?q=%DC%9A%DC%92%DC%9D%DC%92%DC%9D&author=&title=&section=4&corpus-uri=&syriaca-uri=&text-id=

Please let me know if it does not match expected behavior.

[2017-05-30 14:49] jedwardwalters opened #53 "PDF Export"
This is not a high priority item...and if it's too complicated, it's not a big deal if we don't have it.

I was wondering if it might be possible to have a feature where someone could easily export a PDF of just the Syriac text of whatever corpus item they are viewing. I know someone could make a PDF of the web page, which would include the text, but it would also include everything else on the pa

[2017-05-30 19:25] dlschwartz commented on #53
@jedwardwalters I'll put this on the agenda for next week. Thanks.

[2017-05-30 21:00] wsalesky commented on #53
I think there is an issue with the Syriac fonts.

Sent from my iPhone

[2017-06-06 15:17] davidamichelson commented on #53
There should be a fairly easy solution to this.

@wsalesky, we would like to make a simplified PDF output of the TEI:body plus the citation.

@jedwardwalters  will make a one page sample PDF by hand so you can see what this might look like.

I think that we will want to use the PDF engine and TTF version of the meltho fonts that James Bennett worked out if I remember.

[2017-06-06 15:19] wsalesky commented on #53
@davidamichelson
That seems correct, did we ever get the TTF version of the fonts. I think we were still waiting on them? Or were we waiting for permission to use them?

[2017-06-06 16:47] davidamichelson commented on #53
Not sure, but please contact Jim directly and ask.

On Tue, Jun 6, 2017 at 10:19 AM, Winona Salesky <notifications@github.com>
wrote:

[2017-06-07 13:25] wsalesky commented on #41
@dlschwartz  @jedwardwalters  I think this has been resolved. If not please reopen.

[2017-06-07 13:25] #41 closed

[2017-06-07 13:26] #33 closed

[2017-06-07 13:26] #27 closed

[2017-06-07 14:14] nathangibson commented on #33
Yep

[2017-06-07 17:06] wsalesky opened #54 "Sedra allowed characters"
Get a list of allowed characters for Sedra, some words are breaking the API:
 ܕܝܪ̈ܐ/ܘܕܝܪܐ/

 ܠܥܢܗ܂

The backslashes are sent, no word is found (obviously). The second example sends a period, which also returns no results.

[2017-06-07 17:07] wsalesky opened #55 "Sedra handle empty results"

[2017-06-07 17:11] jedwardwalters commented on #54
That first one just needs to get fixed on my end (I imagine). The backslashes shouldn't be there, and they probably represent a textual variant or something.

Do you remember off hand where that came from?

[2017-06-07 17:19] wsalesky commented on #54
It is in this one:
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/rec.html?id=https://syriaccorpus.org/10

Section 2.

[2017-06-07 17:22] jedwardwalters commented on #54
Thanks! And yes, that's just a problem with the text. I'm sure there are other places where this happens (depending on the idiosyncratic practices of the transcribers), and they'll have to get smoothed out slowly with proofreading.

[2017-06-07 17:23] wsalesky commented on #54
Okay. I still need to handle periods I think. So you can leave the issue open.

[2017-06-12 16:21] wsalesky commented on #18
Will self resolve once the SPARQL module is working on dev.

[2017-06-12 16:21] #18 closed

[2017-06-12 17:36] #55 closed

[2017-06-12 17:49] #54 closed

[2017-06-12 18:00] #7 closed

[2017-06-12 18:00] wsalesky opened #56 "Bug in display"
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/rec.html?id=https://syriaccorpus.org/1

XSLT

[2017-06-12 18:01] #56 closed

[2017-06-14 17:23] wsalesky opened #57 "Need to specify English text in English additions to display"
See display issues here (there is a xml:lang='syr' on the tei:body):
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/rec.html?id=https://syriaccorpus.org/1

[2017-06-14 17:25] jedwardwalters commented on #57
@wsalesky the lang tag doesn't have to go on the tei:body if that's easier on your end.

[2017-06-14 17:26] wsalesky commented on #57
I think it is fine. I just need to adjust the XSLT to be specific when it is not Syriac.

[2017-06-14 17:27] jedwardwalters commented on #57
Thanks. I was going to ask you about that display issue. But you're on it already.

[2017-06-14 17:32] jedwardwalters commented on #57
Maybe you saw this on the same page, but I think this also affects the section numbers (wrapped in <head>), which are right justified and the wrong font.

Also, related: the section numbers are no longer showing up in the table of contents box. Perhaps because we added a type to them?

[2017-06-14 17:36] wsalesky commented on #57
Hum, actually it is probably better to only have the xml:lang='syr' on the most immediate (to the Syriac text) parent element. Because those numbers are inheriting the xml:lang attribute from the tei:body.

[2017-06-14 17:37] jedwardwalters commented on #57
Okay. Got it. I can make that change.

[2017-06-15 02:55] jedwardwalters commented on #57
Done.

[2017-06-15 02:55] #57 closed

[2017-06-17 17:39] wsalesky commented on #53
Updated print css, excludes links on words, and both right and left columns. Let me know what else we might want to change for the print copy.

[2017-06-17 17:39] #53 closed

[2017-07-04 00:06] wsalesky opened #58 "Change search text to 'Search the Corpus'"

[2017-07-04 00:08] #58 closed

[2017-07-08 01:37] jedwardwalters opened #59 "Multiple word search in a string"
We need a way to search for two words within a certain range (if the range can be variable, that would be great--if not, we can just set it at 10 words as a default).

I'll provide some examples from this text:
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/rec.html?id=https://syriaccorpus.org/1

Example 1:
If I searched ܗܝܡܢܘܬܐ ܡܬܪܟܒܐ, I would expect it to return the first line of se

[2017-08-03 18:22] jedwardwalters opened #60 "Next steps"
@wsalesky, here are a few things I've been thinking about in terms of brainstorming the next step of production for the Corpus (i.e. aside from just adding more texts, which I'm working on...slowly):

Content
1) Content for the index/home page
2) Creation of a "how to contribute" page
3) Somewhere to explain the various 'status' levels for the documents

Tools/usability
1) Searching for multiple w

[2017-08-10 13:58] jedwardwalters commented on #60
@wsalesky I just saw the index page, and it looks amazing!

[2017-08-10 14:08] jedwardwalters opened #61 "Browse page"
At the top of the browse.html page, it says "Browse Syriac Hagiographic Works" but we don't need the "Hagiographic" part in there.

Thanks!

[2017-08-10 20:35] wsalesky commented on #60
@jedwardwalters great (re: index page)! I will keep you up to date on the search issues as they develop.

[2017-09-12 12:45] wsalesky commented on #61
Done.

[2017-09-12 12:45] #61 closed

[2017-09-12 12:46] wsalesky opened #62 "Move recent browse improvements from Syriaca.org to Corpus."
Recent improvements on Syriaca.org speed up the browse results significantly.

[2017-09-12 17:22] #62 closed

[2017-09-13 14:38] wsalesky commented on #59
@jedwardwalters I have changed the KWIC (keyword in context) display to be a more 'Google' like display, this enables the display of phrases, and fuzzy search results, and eliminates the duplicate lines. Downside is that it eliminates the line numbers, however the matches are still linked (although I noticed the anchors are not working, I will file a bug).

Please take a look and let me know what

[2017-09-13 14:39] wsalesky opened #63 "Issue with anchors from search result"
See:
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/rec.html?id=https://syriaccorpus.org/8#head-4

does not jump you down the page to #head-4

[2017-09-13 14:40] wsalesky commented on #59
Also, did we mention at one point highlighting the search results on the page? (when you click through from a search?)

[2017-09-13 18:09] #63 closed

[2017-09-13 18:18] jedwardwalters commented on #59
@wsalesky
When I do a proximity search, do I need to type an extra character? Or just put two words in the search bar? I've tried it both ways. I'm just trying to make sense of the results I'm getting.

And yes, at one point we mentioned highlighting the search results on the page when you click through. I think that would be helpful.

[2017-09-14 00:03] wsalesky commented on #59
I think I have the fuzzy search enabled, is the search meeting your expectations, or do I need to adjust it?

[2017-09-14 02:47] jedwardwalters commented on #59
Okay, here's an example search. Sorry, this is kind of long:

First, I searched two words without using the quotation marks or the + sign. So, I just typed in the two words with a space (ܕܗܫܐ ܫܡܥ). And I set the proximity to 5. Here's the results I got (note: there were more, but these top two illustrate my question):
![advanced search](https://user-images.githubusercontent.com/11543800/30409490-6

[2017-09-14 13:31] wsalesky commented on #59
@jedwardwalters Thanks for the examples. I think I need to do some more work on phrase searching. I will let you know when I have it working.

[2017-09-14 14:11] wsalesky commented on #59
There is a bug in KWIC processing for phrase searching in eXistdb.
See: https://github.com/eXist-db/exist/issues/833

[2017-09-22 15:11] wsalesky commented on #36
@jedwardwalters I am going to start working on this search issue next> Can you give me three different examples with the search term, with and without vowels, and expected search results.
Thanks!
-Winona

[2017-09-25 13:04] wsalesky commented on #36
@jedwardwalters @davidamichelson @dlschwartz
I am investigating this issue currently. I will probably need some help testing solutions and gathering data.

**First step is to clarify what we need.**
My understanding is that we essentially need to be able to search the text with or without diacritics and with or without vowels, are there other possible confounding issues?

**Information that could

[2017-09-25 13:06] jedwardwalters commented on #36
So sorry, @wsalesky, I meant to answer your previous request over the weekend and it totally slipped my mind. I'll try to give you some examples later today, and I'll also try to answer your other questions.

[2017-10-04 13:34] jedwardwalters commented on #36
Unicode chart for Syriac:
http://www.unicode.org/charts/PDF/U0700.pdf

It looks like most of the vowels are in the 073 and 074 columns.
The 070 column appears to be all punctuation, and we may want to exclude those too in case any of those symbols happen to appear between words in a string.

[2017-10-04 13:52] jedwardwalters commented on #36
Examples for searching:
Example 1:
Let's say I cut and pasted a word from a text with Eastern vowels and wanted to search for occurrences, like: ܢܲܦܫܵܐ

I would expect it to return that word in that same form, but also with no vowels (ܢܦܫܐ) and any that happen to have "western" vowels (ܢܰܦܫܳܐ).

Example 2:
If I searched for a no-vowel word: ܦܘܪܫܢܐ

I'd want it to hit both:
ܦܘܽܪܫܳܢܳܐ
ܦܘܼܪܫܵܢܵܐ

Exa

[2017-10-04 13:54] wsalesky commented on #36
@jedwardwalters Thanks, this is a good start. Let me run some experiments and get back to you.

[2017-10-04 16:35] jedwardwalters opened #64 "Minting Work Records for BHSE"
@nathangibson @dlschwartz @davidamichelson

NOTE: This is not specifically a corpus issue--I just couldn't think of a better place to create the issue.

I thought of this issue this morning, but there was never a good time to squeeze in a question about such a small matter. I figured creating an issue would work better.

A few weeks ago I tried to reserve a URI for a work number in BHSE using the

[2017-10-04 16:38] davidamichelson commented on #36
@jedwardwalters can you write a Unicode equivalency table for Winona of the following:
Table 1: Which vowel characters should be treated as identical for the sake of search
Table 2: Complete list of characters to be searched for (the 22 consonants?) (ie not ignored as vowels or punctuation) in a non-vocalized simple search

[2017-10-04 16:49] wsalesky commented on #64
@jedwardwalters Technically I think this belongs here:
https://github.com/srophe/srophe-admin

I see that 105253 already exists: http://wwwb.library.vanderbilt.edu/work/10523

I will take a look at the forms and see what is going on.

[2017-10-04 17:09] jedwardwalters commented on #36
@davidamichelson I just made this. Is this what you had in mind?
[Syriac Character Unicode Tables.pdf](https://github.com/srophe/syriac-corpus-app/files/1356733/Syriac.Character.Unicode.Tables.pdf)

[2017-10-05 09:06] nathangibson commented on #64
@jedwardwalters Work URIs should still be reserved in this spreadsheet https://docs.google.com/spreadsheets/d/1-vDeuCL7cVZSz6Xfl5KsMsv9qQ5WYPIFfBaExNeTTkA/edit?usp=sharing until we all agree that the admin form is working well enough to move to that system. Feel free to just add stuff to that spreadsheet using the "Next avail. ID".
The admin module should have seen 10523, but there are other work

[2017-10-05 16:36] jedwardwalters commented on #64
Thanks, @nathangibson. I'll be sure to use that in the future!

[2017-11-02 20:11] jedwardwalters opened #65 "Webhook"
@wsalesky Following up on the problems Dan was having, I also did a pull request/commit last night when the dev server was down, and those materials are not showing up when I try to view them in HTML.

Here's the link to the commit:
https://github.com/srophe/syriac-corpus/commit/a585867bf35643542f8720ce9cc670a4741b6097

(Pull request #115 in the syriac-corpus repository)

[2017-11-03 12:02] wsalesky commented on #65
@jedwardwalters The dev server is down again this morning. When it is back up I will push that commit. Thanks for letting me know.

[2017-11-03 19:00] wsalesky commented on #65
They should be up now. Let me know if I missed anything.

[2017-11-03 19:00] #65 closed

[2017-12-01 14:47] wsalesky commented on #36
@jedwardwalters Finally moving forward on this. I think I have a solution, but need to do some additional testing. For these examples:

Can you give me a list of expected results (and what is NOT showing up on the dev site)? I'm testing on my local machine, of the new updates work, we will have to update the version of eXist on the dev server.

[2017-12-02 01:55] jedwardwalters commented on #36
Hi Winona,

I was just about to test this, but it looks like the dev site is down?

Jamey

[2017-12-03 14:26] wsalesky commented on #36
It is back up.

[2017-12-04 14:59] wsalesky opened #66 "Update for eXistdb 3.6.0"
Change collations.

[2017-12-04 14:59] jedwardwalters commented on #36
Okay, it's possible that I'm misinterpreting your question, so please let me know if I'm misunderstanding what you're asking.

When I search example 1 (ܢܲܦܫܵܐ), I only get returns that exactly match it (with those same points). So, I'm not getting ܢܰܦܫܳܐ or ܢܦܫܐ. Likewise, if I search either of these latter spellings, I only get search results that match those forms exactly.

So, ideally, if I sea

[2017-12-04 15:09] wsalesky commented on #36
Right, the new version of eXist (currently only running on my machine, but coming soon to dev) should be able to resolve this issue, but I am attempting to do some testing while being mostly Syriac illiterate. On my local version I get 106 hits when searching for 'ܢܲܦܫܵܐ' which seems to combine all the results of the the three searches above.  (See screen shot.)

I think this does solve the major

[2017-12-04 15:14] jedwardwalters commented on #36
Yes! Your screen shot looks perfect.

Question: is there a way for this to toggle? I think the default should be that it returns all results, but if someone wants to search something with only a certain vowel pattern, is that possible as an option?

As an example of how this would be useful, some verb forms have the same consonants as a noun, but different vowel inflections. So if someone wanted t

[2017-12-04 15:15] jedwardwalters commented on #36
Or maybe even better than a toggle option is simply a different search box on the Advanced Search page. So the search bar at the top of the page always defaults to all results. Then, on the Advanced Search, maybe a dedicated search item could return only results that match exactly?

[2018-01-05 21:08] wsalesky commented on #36
@jedwardwalters This is finally available for testing on the dev server:
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/search.html?q=%DC%A2%DC%B2%DC%A6%DC%AB%DC%B5%DC%90

Please take a look and let me know if it is behaving as expected. Thanks!

[2018-01-07 01:28] jedwardwalters commented on #36
Okay, thanks! I did a couple of quick searches, and they seemed to work as expected. I'll try to do more soon.

[2018-02-14 15:08] jedwardwalters commented on #64
Closing this issue.

[2018-02-14 15:08] #64 closed

[2018-02-14 15:08] jedwardwalters commented on #60
Closing this one to consolidate what has been done and what still needs to get done.

[2018-02-14 15:08] #60 closed

[2018-02-14 15:17] jedwardwalters commented on #59
@wsalesky I want to follow-up on this issue. I think that the proximity search works, but perhaps the results could be cleaned up somehow?

For example, when I search for a set of words (ܚܒܝܒܝ+ܚܕܝܬܢܝ) with a proximity of 10, I get the following results:
![search1](https://user-images.githubusercontent.com/11543800/36211707-02221f38-1170-11e8-9abf-d4e343c17055.jpeg)
The first two lines of these res

[2018-02-14 15:18] jedwardwalters commented on #45
Closing this because I think we resolved it.

[2018-02-14 15:18] #45 closed

[2018-02-14 15:25] jedwardwalters commented on #36
@wsalesky This issue seems to have backtracked. Last time I tested this, I was getting the expected results, but now it's only returning exact matches re: presence of diacritics.

[2018-02-14 15:26] jedwardwalters commented on #32
Closing this to consolidate.

[2018-02-14 15:26] #32 closed

[2018-02-14 15:27] wsalesky commented on #36
@jedwardwalters Yes, sorry we had to roll back the version of eXist on the dev server due to an unrelated issue. eXist has just release v 4.0 which I will be testing this weekend. My hope is we can move to the latest version next week.

[2018-02-14 15:29] jedwardwalters commented on #13
@wsalesky Any thoughts on this issue? To use the example that Dave gives, this would mean searching all of the texts that fit within the work of the Demonstrations--i.e. texts 1-24 in the corpus.

For Aphrahat (and thus the demonstrations) it wouldn't be that hard because his is the author of only one corpus, so you could search by just author name. But for other authors with multiple works, each

[2018-02-14 15:30] jedwardwalters commented on #30
Just editing this issue to remind myself that I need to create a "status" workflow and label descriptions.

[2018-02-14 15:32] wsalesky commented on #13
@jedwardwalters It would be useful to have some examples. We could use the 'larger work' as a 'facet' in browse, or a dropdown option in the search?

[2018-02-14 15:33] jedwardwalters commented on #13
Okay, I'll get you some examples later today.

[2018-02-14 15:34] jedwardwalters commented on #36
Oh good, I'm glad there's an easy explanation for this! I'll leave this issue open to remind myself to come back and test, but we should be able to close it soon.

[2018-02-15 04:13] jedwardwalters opened #68 "Poetic text test"
@wsalesky I added a poetic text tonight for testing with the display:
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/259

Let me know what you think of the structure I used here and if you have any suggestions or corrections (@dlschwartz and @davidamichelson feel free to weigh in on this too).

[2018-02-20 03:13] jedwardwalters commented on #68
@wsalesky On the example posted above, I'm wondering about all of the buttons at the top for toggling the display (body, ab, line, etc.). Most of them don't do anything. The only one that really matters here is line group. So, I have two questions:
1) Is there a way that we can determine which buttons show up?
2) Can they be named by type? For instance, I'd prefer that "line group" show up as "sta

[2018-02-20 03:22] wsalesky commented on #68
@jedwardwalters I noticed that also. I think it is time to revisit that function. Is there any indication in the TEI that this is a poem? Or do we always want "line group" to translate as "stanza" I will also debug the functionality of this, as it doesn't work quite as expected.

[2018-02-20 03:25] jedwardwalters commented on #68
I don't think there's any indication that it's a poem. Perhaps we could make one? Would it make sense to put a @type attribute on the body element? It could just be either prose or poetry for our purposes. I have used line group somewhere else...maybe just for the opening rubrics of Narsai's works.

[2018-02-20 03:26] jedwardwalters commented on #68
And I'm also totally open to revisiting that function. If it's overly clunky or not doing what we want, we can definitely change tactics.

[2018-02-20 20:27] wsalesky commented on #68
@jedwardwalters let me take a look at the function and see what I can do with the data as is. I will let you know. (Maybe by tomorrow.)

[2018-02-21 15:40] jedwardwalters opened #69 "Table of Contents Box"
The table of contents box is not displaying anything on quite a few texts (for example: http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/1.html)

@wsalesky I will look and see if I can figure this out on my own and I'll keep you posted.

[2018-02-21 15:43] jedwardwalters opened #70 "Delete Extra Space in Source"
In the "Stable Identifiers" box, in the source section, there appears to be an extra space between the opening quotation mark (") and the title of the work. So, for example:

Source: D. Ioannes Parisot, ed. " Aphraatis Demonstrationes I-XXII." [Delete extra space before Aphraatis]
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/1.html

[2018-02-21 15:46] jedwardwalters opened #71 "Source for Texts from Manuscripts"
Some of the texts in the corpus come from manuscripts, not from published editions. The system we have for displaying the "Source" does not grab the manuscript information. See for example:
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/26

This may be something I need to fix in the TEI header. Just let me know.

[2018-02-21 15:49] jedwardwalters commented on #71
Also, the source isn't displaying for some other texts that do come from a printed edition, so this issue is worth looking into more broadly: http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/26

Again, this may just be something I did wrong on the bibl element.

[2018-02-21 15:59] wsalesky commented on #69
@jedwardwalters  I had noticed that as well, it was on my mental list, thanks for making an issue to track it.

[2018-02-21 16:00] wsalesky commented on #71
@jedwardwalters Can you take one example and print how you expect it to appear in the issue, so I can track down what is going wrong?

[2018-02-22 02:54] wsalesky commented on #71
@jedwardwalters These are coded with msDesc, not biblStruct. I will need to add that to the output logic. How would you like them to display? Using http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/26 as an example.

[2018-02-22 03:01] jedwardwalters commented on #71
I think just whatever shows up in the msName tag would be fine to display. So, in the case of /26, it would be: Vatican syr. 117, fol. 412b-32a

Note: most of them won't have multiple msName tags. If that causes a problem here, we could probably just delete the second one.

I included the folio pages in msName because, at least from my poking around, I didn't see anything like a folio/page range t

[2018-02-22 03:04] wsalesky commented on #71
Do you want to display all msName tags? Separated by a period? Or just the first?

[2018-02-22 03:10] jedwardwalters commented on #71
I suppose it would be good to include all of them if there are multiples. Would it be possible to list each one separately as a source? So, like this:
Source: Vatican syr. 117, fol. 412b-32a
Source: Mardin 136

If that is too complicated, I think maybe we should just list the first one to avoid confusion. If we were encoding a critical edition made from multiple mss, we'd probably do this whole se

[2018-02-22 03:18] wsalesky commented on #71
That is fine. Changes will be up shortly.

[2018-02-22 03:28] jedwardwalters commented on #69
@wsalesky I may have discovered the issue. I noticed that the TOC still works for a handful of texts. Here's an example:
Display: http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/188
Code: https://github.com/srophe/syriac-corpus/blob/master/data/tei/188.xml

It looks like this text, and a few others I checked, are still using the old div1, div2 system that we had in place before we deci

[2018-02-22 03:30] jedwardwalters opened #72 "Remove numbered div elements"
Texts 186-217 (at least) still have div1, div2 structure. Needs to be updated to just div.

[2018-02-22 03:37] wsalesky commented on #69
@jedwardwalters thanks. I will change it.

[2018-02-22 03:41] jedwardwalters commented on #69
Thanks. And I made an issue for myself to go through and change those texts that are still using div1, div2, etc.

[2018-02-22 04:08] wsalesky commented on #71
That should take care of the problem.

[2018-02-22 04:09] #66 closed

[2018-02-22 15:21] jedwardwalters commented on #71
@wsalesky So sorry to re-open this. Your solution did fix it, but I should have dug deeper before I responded. On other ones from manuscripts, I fleshed out the msDesc better, and think this is a better use of the TEI. See the example here:
https://github.com/srophe/syriac-corpus/blob/master/data/tei/32.xml#L75

I think it would be great if we could do something like this:
Source: [settlement], [r

[2018-02-22 15:23] wsalesky commented on #71
Sounds good!

[2018-02-22 15:26] jedwardwalters commented on #71
Let me know if it would be helpful to have the type marked as shelfmark on that idno element. It might be good to do that anyway, but it's especially worth it if it makes your job easier.

[2018-02-22 15:29] wsalesky commented on #71
Yes, that would be useful.

[2018-02-22 15:31] jedwardwalters commented on #71
On it.

[2018-02-22 16:32] jedwardwalters commented on #71
Okay, I've updated all the texts in question. I fixed the ones that were using msName so that they now follow the Settlement, Repository, idno structure and added "shelfmark" as a type.

One more tiny change to what I suggested above: let's go ahead and add a comma between Repository and idno in the display. So:
Source: [Settlement], [Repository], [idno type="shelfmark"]
Source: London, British Li

[2018-02-22 18:49] wsalesky commented on #68
@jedwardwalters I edited this function. We may want to have certain features show as default. For example on the poem, perhaps we want the display to show lines as the default? This simply turns on or off css, so it is not hard to change. Let me know how you want this 'show' feature to function.

[2018-02-22 18:50] wsalesky commented on #69
I think this should be resolved now. Reopen if you find any remaining bugs or outliers.

[2018-02-22 18:50] #69 closed

[2018-02-22 19:07] jedwardwalters commented on #68
I like the way it looks now. Let me play around with it a bit and see what issues arise. For example, I'm not sure we need the "title" on any of the texts. I'll get back to you on this.

[2018-02-22 19:16] wsalesky commented on #71
@jedwardwalters How does it look now? (feel free to close the issue if it looks good.)

[2018-02-22 19:24] jedwardwalters commented on #71
Looks great to me! Closing.

[2018-02-22 19:24] #71 closed

[2018-02-22 21:13] jedwardwalters opened #74 "Another Source Display Issue"
The format of the source display is producing a weird result on some of the texts. See, for example:
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/27

There is a "." after the editor's name, where I assume it's looking for a title within the larger title. But many of our sources won't have that element.

You can see the code here:
https://github.com/srophe/syriac-corpus/blob/master/d

[2018-02-23 02:44] wsalesky commented on #74
Resolved. Will be on the dev site next week.

[2018-02-23 02:44] #74 closed

[2018-02-23 02:45] wsalesky commented on #70
Fixed.

[2018-02-23 02:45] #70 closed

[2018-02-23 03:34] wsalesky opened #75 "Issue with SEDRA lookup"
1. If you click on a word and SEDRA does not have this word, then the SEDRA boxy is empty (apart from the header). Try first word, ܩܠܡܣ. That is fine (though I am surprised Syriaca names don't have it!).

2. Then you click on the second word ܬܫܥܝܬܐ you get some SEDRA data. That is fine.

3. Then if you click on the third word, which is not found in SEDRA, the SEDRA box remain with the data of the

[2018-02-23 03:53] #75 closed

[2018-02-23 15:06] wsalesky commented on #59
@jedwardwalters  This is a bug in eXist-db. I may be able to hack around it. How would you like to do proximity searching? Do you want to use the dropdown on the search, if so do you want it for every field or just keyword, do you want a default distance set behind the scene so the users do not have to worry about it?

Let me know and then I will see what I can do about the display.

[2018-02-27 02:36] jedwardwalters commented on #59
I think proximity searching should only be in the advanced search option, and I think it only needs to be on keyword.

I think being able to customize the default distance is a nice feature, but if it would simplify things I think we could do a default of 10 words or so.

[2018-02-27 02:37] wsalesky commented on #59
If it is only on the keyword then I think I can make the variable proximity work. Let me give it a try.

[2018-02-27 02:39] jedwardwalters commented on #59
I can't think of a reason why it would need to be anywhere else.

[2018-03-01 20:41] jedwardwalters commented on #68
Okay, @wsalesky, here are some thoughts on this feature (Sorry in advance that this is long!):

1) Title - I don't think we need the number to pop up on any of the titles. So, I have a question: would it be an easy CSS thing to have the text of whatever is marked as a title display in red when this is toggled? If not, can we just remove the title feature as an option to toggle?

So, in this exampl

[2018-03-01 20:44] jedwardwalters opened #76 "Some other random display things"
1) For some reason, texts 228-258 do not have any of the boxes on the left (TOC, toggle buttons, etc). See for example: http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/258

2) Likewise, this new one doesn't have a TOC: http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/332
-Nor do texts 259-331

[2018-03-02 03:08] wsalesky commented on #68
@jedwardwalters this is a combination of encoding differences and needs for xquery tweaks.

Encoding differences account for:
5. Is caused by ` <div type="ab" n="0">` instead of ` <div type="title" n="0">`
6. a. You could add a type = 'verse' to the tei:ab element. I will amend the xquery to look for that.
    b. This might be solved by adding the xml:lang='en' to the chapter tag, if not I will ha

[2018-03-02 03:13] jedwardwalters commented on #68
Thanks. I'll make these changes.

[2018-03-05 03:35] wsalesky commented on #76
@jedwardwalters There is no tei:head elements which is what the Table of Contents is generated on and none of the elements that the 'Show' box is using to toggle displays, such as numbered elements, lines, page breaks etc. We can change how these elements work in the xquery, but we should also make sure the TEI is standardized.

[2018-03-05 15:34] jedwardwalters commented on #76
Thanks for letting me know. I’ll work on this.

[2018-03-05 20:10] wsalesky commented on #52
Are we happy with the current logo? If so I will close this.

[2018-03-05 20:10] wsalesky commented on #43
@jedwardwalters can this be closed? If not is there an action item that needs to happen here?

[2018-03-05 20:11] jedwardwalters commented on #43
Yes, I think it can be closed.

[2018-03-05 20:11] #43 closed

[2018-03-05 20:11] wsalesky commented on #13
@jedwardwalters Checking back in on this issue. Still waiting for some examples to test different search strategies.

[2018-03-05 20:12] jedwardwalters commented on #52
Yes, I think we're good here.

[2018-03-05 20:12] #52 closed

[2018-03-05 20:15] jedwardwalters commented on #13
Thanks for the reminder. Grading midterms today, but I plan to finish all of that today and spend the rest of the week on corpus stuff in preparation for Amsterdam.

[2018-03-05 20:23] wsalesky commented on #13
Okay. Just going through my checklist.

[2018-03-06 14:19] jedwardwalters commented on #13
@wsalesky Here are a few examples (Let me know if you need more info):

In all of these examples, the larger work titles and URIs are included in the TEI header titleStmt as title level="s" and then the individual titles contained in that work are labeled as title level="a"

**Example 1**
Work: The Demonstrations (http://syriaca.org/work/8501)
Contains: Corpus URIs 1-24

**Example 2**
Work: The Ho

[2018-03-06 16:23] jedwardwalters opened #77 "Author browse display"
@wsalesky On the browse by author page (http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/browse.html), I'm wondering if there's a better display option than having every single work by that author. So, on the "A" page, would it be possible to just have "Aphrahat" listed, then if someone clicked on Aphrahat it would open a list of Aphrahat's titles?

Or, this may be easier and is related

[2018-03-06 16:49] jedwardwalters commented on #76
@wsalesky I fixed the issue on 332.

The problem, as I'm now realizing, with 259-331 is that if we insert a head element, it would essentially defeat the purpose of our lg toggle display. The main purpose behind toggling those features is that people could copy and paste large chunks of material without the section numbers interrupting. So, I think we have to choose between a TOC and our toggle di

[2018-03-06 17:06] jedwardwalters commented on #72
Done.

[2018-03-06 17:06] #72 closed

[2018-03-06 17:07] jedwardwalters commented on #68
@wsalesky Okay, I took care of some of the things mentioned above. I'll go back through soon and post some other issues individually as needed. I'll leave this open for now if you are still working on it.

[2018-03-06 17:21] wsalesky commented on #68
I will take a look tonight.

Sent from my iPhone

[2018-03-07 15:27] jedwardwalters opened #78 "Spacing"
Two issues of spacing:

1) I'm wondering if the toggle on the page break (pb) element could, in addition to showing the number, also come with hard carriage returns so that the text is broken up more clearly. In a long text the page numbers are a bit hard to see.

So, for example, on this example: http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/337
If you look at the first page break i

[2018-03-07 15:55] wsalesky commented on #77
@jedwardwalters I think this is possible. Let me experiment a little and get back to you.

[2018-03-07 18:02] wsalesky commented on #78
@jedwardwalters how does that look?

[2018-03-07 18:14] wsalesky commented on #68
@jedwardwalters made some updates. Let me know if I missed anything.

[2018-03-07 18:16] wsalesky commented on #68
@jedwardwalters Actually I see the chapter display on 119 is still a little odd. I will take a closer look.

[2018-03-07 20:12] jedwardwalters commented on #78
That is perfect. Thank you! Closing this now.

[2018-03-07 20:12] #78 closed

[2018-03-07 20:23] jedwardwalters commented on #68
@wsalesky I think all of these issues are pretty much resolved.

[2018-03-07 20:27] jedwardwalters opened #79 "Verse 1 display"
On this example (and all other biblical texts), when you toggle the verse number, they all work correctly except for verse 1 in each chapter:
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/119

The 1 always gets kicked to the left. I know this is a Right to Left language issue. Any ideas on how to fix it? Worst case scenario, maybe there's a way to just not display the 1 and let the v

[2018-03-10 21:27] jedwardwalters opened #82 "Author name at top"
I've been meaning to make this an issue for weeks and I just keep forgetting. Can we display the author name in the title line for all the texts?. I think this will help. See attached photo:
<img width="1434" alt="screen shot 2018-03-10 at 4 22 34 pm" src="https://user-images.githubusercontent.com/11543800/37246887-e29c424c-247f-11e8-949f-414a16477ee9.png">

[2018-03-12 14:10] jedwardwalters opened #83 "Footnote display"
Okay, this is an issue I've been putting off but that we need to work out: how to display footnotes.

Here's an example of a text with a footnote: http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/340

You can see it right in the middle. There's a dot that I think is displaying as the footnote reference, and then the "sic" is the content of the note. I produced this example by running th

[2018-03-22 16:01] wsalesky commented on #83
Basics in place. I would like to do some work on CSS. (Will be on dev after conferences are over, early next week. )

[2018-03-22 16:09] wsalesky commented on #82
Added, will be live next week.

[2018-03-22 16:18] #68 closed

[2018-03-22 17:34] wsalesky opened #84 "Keyboard bug"
Was resolved for Syriaca.org, should be an easy fix

[2018-03-22 17:58] #84 closed

[2018-03-22 20:59] jedwardwalters commented on #77
Maybe this is what you're already working on, but would the same collapsable display you used on the Hugoye app (author browse) work here?

[2018-03-23 01:48] jedwardwalters commented on #82
Great!

[2018-03-23 01:49] wsalesky commented on #79
@jedwardwalters I've been experimenting with this one, so far no luck forcing it to display correctly, the rtl/ltr transitions cause all sorts of interesting knock-on effects. Will continue to experiment!

[2018-03-23 01:50] jedwardwalters commented on #79
@wsalesky Okay. Thanks for letting me know. I guess worst case scenario, maybe there's an easy way to just make the 1 not show up at all?

[2018-03-23 01:54] wsalesky commented on #79
@jedwardwalters Yes, we could do that, but I haven't given up quite yet. Squashing some other bugs right now and coming back to this one shortly.

[2018-03-23 14:27] jedwardwalters commented on #83
@wsalesky Cool! By content display, do you mean that the "sic" is showing up on the right hand side? I assume that's what you mean.

1) Can the footnote reference (the superscripted 1 in the text) be a smaller font?
2) Is there a way to display/not display the footnote numbers in the toggle box? I can imagine that being useful to someone if it's not complicated.

I think that random 2 in the text

[2018-03-23 14:59] jedwardwalters commented on #82
This looks great. Closing this now. Thanks!

[2018-03-23 14:59] #82 closed

[2018-03-23 15:44] wsalesky commented on #83
Yes, I mean the 'sic'. I'm working out a few text issues so hopefully this will work out.

1. Yes
2. Yes I think I can add that as well.

(And the 2 is actually in the text, I checked because it was confusing me.)

[2018-03-23 16:02] wsalesky commented on #79
@jedwardwalters I think I fixed it. http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/119

[2018-03-23 16:02] #79 closed

[2018-03-23 16:03] jedwardwalters commented on #79
Awesome! Thank you.

[2018-03-23 16:05] wsalesky commented on #79
Those bi-directional texts are tricky.

[2018-03-23 16:34] wsalesky commented on #83
Added the toggle. I think to get the footnote to display correctly in the popup you will have to add an `xml:lang='en'`

[2018-03-23 16:41] jedwardwalters commented on #83
Okay, that's not a problem. But what about if the text of the footnote is Syriac? Will that mess up the font display?

[2018-03-23 16:44] wsalesky commented on #83
@jedwardwalters I will test it. Thanks for thinking of it.

[2018-03-23 16:45] jedwardwalters commented on #83
I’m in the middle of prepping for classes, but sometime tomorrow I can put up another text that has more footnotes than this one for testing.

[2018-03-23 17:03] wsalesky commented on #83
okay.

[2018-03-26 01:50] jedwardwalters commented on #83
@wsalesky Okay, I finally got around to making a new file with more footnotes. I think it looks pretty good. You can see it here: http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/341.html

I'm wondering if we should just right justify the notes, since I think a lot of them will look like this. What do you think?

[2018-03-26 02:16] jedwardwalters opened #85 "Sedra API"
@wsalesky On texts with eastern vowels (such as http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/341.html), the Sedra API doesn't work because it's including the vowels in the word search, but the sedra database doesn't recognize them.

Is there anything we can do about this on our end? It may be better to ask them to figure out a way it can work on their end.

[2018-03-26 14:20] wsalesky commented on #83
@jedwardwalters  Take a look at it right aligned and let me know which you prefer.

[2018-03-26 17:07] wsalesky commented on #77
My first draft uses facets (the fastest way code and rendering wise):
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/browse.html?view=title

If you prefer the browse the way the we do it for Hugoye (with the collapsable display) then we can look into it. I think it will slow the browse down a little, but maybe not significantly.

[2018-03-26 17:08] wsalesky commented on #76
@jedwardwalters Do I have an action item on this ticket? (Just doing my Monday ticket roundup)

[2018-03-26 17:15] wsalesky commented on #13
@jedwardwalters @davidamichelson I'm back to this issue. I don't think I understand how the this is search is supposed to function. Can you just give a simple walk through of what you want to do, enter search terms as keywords? What limits you would like to add? And then what results you expect to see.

@davidamichelson Do you think facets on search results with the title of the containing work wo

[2018-03-26 18:07] jedwardwalters commented on #83
I think I like it right justified. But let me run it by Dave and the others to get their thoughts.

Also: I assume that I would need to tag each p element in the notes with an xml:lang="syr" to make those footnote fonts adjustable?

[2018-03-26 18:10] wsalesky commented on #83
Yes, the lang tag is important, if it is different from its parent lang. (otherwise it assumes it matches the parent) If the others like it, then go ahead and close it.

[2018-03-26 19:06] jedwardwalters commented on #13
My initial thought was that if someone searches for "Aphrahat" (for example) in the browse box, the search result would be the "larger work" (The Demonstrations) as opposed to each individual demonstration.

This would be helpful for authors like Ephrem, who have multiple large corpuses.

Is that what you meant, @davidamichelson? Any thoughts for clarification here?

[2018-03-26 19:15] jedwardwalters commented on #85
Okay, I'll send a note to Jim and George and see if they can work something out.

[2018-03-27 21:18] jedwardwalters commented on #85
@wsalesky Jim was able to take care of this on their end.

[2018-03-27 21:18] #85 closed

[2018-03-28 02:41] jedwardwalters commented on #83
@wsalesky For testing purposes I just added two new texts (/342 and /343) with footnotes, and for these I tagged the p element inside the notes with xml:lang="syr".

[2018-03-29 18:41] jedwardwalters commented on #83
@wsalesky I asked the Syriaca editors for any feedback on the footnote display. Here are a few from Dan:

1) the box is really big even when it doesn't contain much. Might there be a way to make it a bit smaller when possible?
2) Because the pop up appears just to the right of the footnote number it covers the word footnoted. Since many of the footnotes in this text seem to have word variants, it

[2018-04-04 13:54] wsalesky commented on #83
@jedwardwalters Updated. Please let me know what you think of the changes. (Smaller box, slightly higher so it does not cover the word, added an outline to make the small box easier to see. )

[2018-04-04 13:55] wsalesky commented on #77
@jedwardwalters Let me know what you think of the 'faceted' Author browse. If you prefer the Hugoye method with collapsable display we can change it.

[2018-04-04 13:58] wsalesky commented on #13
@davidamichelson Any feed back on how this should work?

[2018-04-05 01:47] jedwardwalters commented on #77
I'm okay with this. I like that Hugoye appearance a bit better, but I'm also happy to let the faster version win out over my aesthetic preference.

[2018-04-05 01:50] jedwardwalters commented on #83
I think the box solution looks much better. Two other things, though: 1) in the notes at the bottom, there is a red box showing up around the footnote numbers, and 2) they are all left-justified instead of right-justified (I do think right is better).

[2018-04-06 02:27] jedwardwalters opened #86 "Automatic page numbering"
@wsalesky I couldn't figure out how to do this with regex. Let's start with this one as a test:
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/228

I put the model that I want to use in the text here:
https://github.com/srophe/syriac-corpus/blob/master/data/tei/228.xml#L106

So, that is page break to mark the beginning of page 1. Now, every time there is a
![image](https://user-images

[2018-04-06 13:33] #83 closed

[2018-04-06 13:34] wsalesky commented on #77
We can do a test run of the other version to see how it runs. Let me get everything else checked off first.

[2018-04-06 13:37] wsalesky commented on #86
@jedwardwalters Do you run these through an XSLT to get the TEI? We could also add the page numbering logic to that workflow if you do.

[2018-04-06 13:38] jedwardwalters commented on #86
I've recently been experimenting with using the automatic conversion through Ox Garage (on the TEI website). If I knew more about XSLT, I might be able to make that work. I'd be happy to learn.

[2018-04-06 15:13] wsalesky commented on #86
Anything else you would like to automagically add? If we are going to write a XSLT we may as well go all out.

[2018-04-08 01:28] wsalesky commented on #77
I added a test browse with the expanding authors like Hugoye, let me know what you think of speed (not all the features are worked out correctly, such as paging, if you like it I will put a little more work into it.)

http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/browse2.html?lang=&alpha-filter=ALL&view=author

Compare with:
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus

[2018-04-08 01:41] jedwardwalters commented on #77
Thanks! I really like the expanding version. But before we make a decision, I'll also ask the syriaca module editors for their opinion.

[2018-04-08 01:50] jedwardwalters commented on #86
I can't think of anything at the moment. Unfortunately all the files are so inconsistently formatted, it seems unfeasible to write anything more comprehensive.

[2018-04-08 02:28] wsalesky commented on #77
@jedwardwalters Sounds good.

[2018-04-09 18:18] jedwardwalters commented on #77
@wsalesky Okay, the other editors also prefer the expanding/collapsable option. Note: on the test page you sent me, the "minus" sign beside the name when they are collapsed is a bit confusing. I think the +/- thing needs to be reversed.

Thank you!

[2018-04-09 18:24] jedwardwalters commented on #77
Also, I think the faceted search might make sense to keep on the Title index, and as we add more features (like dates of texts), we could add additional facets.

[2018-04-10 13:53] wsalesky commented on #77
Okay, I will make the change and let you know when it is ready for testing. I'm going to default to a full list and then let users select from the 'ABC' menu options if they want. Currently the list is pretty short, so having it all on one page makes the most sense to me.

[2018-04-10 14:48] jedwardwalters commented on #77
Thanks. And yes, I agree--it make sense to me to default to the full list.

[2018-04-10 16:04] wsalesky commented on #77
Done. Let me know if you encounter any problems, it starts paging after the 25th author. We can change the default page to be smaller (15) if you want.

[2018-04-10 16:04] #77 closed

[2018-04-10 18:26] wsalesky commented on #86
@jedwardwalters I added a update tool to the app. So far it only adds the page numbers, we can add additional processing if we find we need it. Just upload your file, it will run the replace and then you can save the output to github. Check for any knock-on effects. I checked and it looks okay, but you may find something I missed.

Link: http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/

[2018-04-10 18:26] #86 closed

[2018-04-11 14:47] jedwardwalters commented on #86
@wsalesky This worked great on my first trial run.

Question: it numbered everything correctly, meaning that it started with page 2 (which is what I wanted it to do), but I assume that's only because I had a pb element in there already with n=1. Is that correct?

In other words, for all subsequent texts where the page number begins at higher numbers, if I manually put in the first page number, wil

[2018-04-11 14:49] jedwardwalters commented on #86
Also, the form it rendered it in made it super easy to add in the correct ed reference with find/replace. So it works great as it is. I just want to be sure about the page numbering thing.

[2018-04-11 14:56] wsalesky commented on #86
It adds empty tei:pb for every occurrence of '܀܀܀' and then goes back through and renumbers all the page breaks. So it won't matter if you have page breaks already or not. We can add additional data processing to this form if you find you need it.

[2018-04-11 15:00] jedwardwalters commented on #86
Ah, I see. So it would automatically renumber everything starting from one. Yes, I think it would be helpful if you could make that change to the code. Either that or set up a way I can customize what number it starts from, since it will be different for every document.

[2018-04-11 15:01] wsalesky commented on #86
I can do either way. It would probably be easiest for me code wise to just
start from numbered pb.

On Wed, Apr 11, 2018 at 11:00 AM, jedwardwalters <notifications@github.com>
wrote:

[2018-04-11 15:03] jedwardwalters commented on #86
That's totally fine. I need to have the specific page number information anyway, so it's not a problem for me to manually add the first pb.

[2018-04-11 15:06] jedwardwalters opened #87 "Manuscript source display"
For our texts that come from manuscripts, not from printed editions, the source information is not showing. See:

http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/30
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/102
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/228

(I gave three examples because they're all from different manuscripts--for display testing)

[2018-04-11 19:42] jedwardwalters opened #88 "Standardizing Print Edition Source"
@wsalesky One issue I'm not quite sure how to tackle is the standardization of the biblStruct section to describe the source material. If you look at the source description on these two pages, you'll see that there are formatting issues related to the kinds of information we have about the source:

http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/1
http://wwwb.library.vanderbilt.edu/exi

[2018-04-12 01:59] wsalesky commented on #86
Okay, number the first tei:pb. It will use the first tei:pb/@n to start the numbering. I have updated the code, give it a try.

[2018-04-12 19:19] jedwardwalters commented on #86
Just tested it and it works perfectly. This will save me soooo much time. Thank you!!!

[2018-04-18 19:01] jedwardwalters opened #89 "Sample text link"
We need a link to a sample page from the landing page (like the other syriaca sites). How about this one?
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/345.html

[2018-04-18 19:02] jedwardwalters opened #90 "Linked Data Box"
We'd like to add a Linked Data box--basically exactly what you did for e-GEDSH. I think it should go under the "How to Cite" box on the right.

[2018-04-18 19:04] jedwardwalters opened #91 "Corrections/Additions"
The Corrections/Additions box does not currently work (in chrome or firefox--we checked). And where will these messages be sent? Should I set up a dedicated email account or something?

Also, can we make it just say "Corrections?" instead of "Corrections/Additions?"

[2018-04-18 19:05] jedwardwalters opened #92 "Browse by title - default ALL"
There was some preference among the syriaca editors for the browse by title search page to default to ALL rather than the titles beginning with A.

[2018-04-18 19:07] jedwardwalters opened #93 "Order of titles on author search page"
On the Author search page, when you expand an author (for example, Aphrahat), the results are not in numerical order. Is there something I need to do in the code?

[2018-04-18 19:08] jedwardwalters opened #94 "Browse by Syriac title"
Can we add a browse by Syriac title feature? Since that's already incorporated in Syriaca, hopefully it's not too much additional work. Most titles in the corpus have a Syriac version.

Note: if this needs to wait until after other things are done, that's fine.

[2018-04-18 19:10] jedwardwalters opened #95 "TEI Button"
Currently there's not a button to download the TEI displaying on any of the pages. And I think there used to be some other buttons (like a printing one?) that seem to have disappeared from that same area.

[2018-04-18 19:11] jedwardwalters opened #96 "Check author names in Corpus against Syriaca"
Double check to make sure standard spelling used here in the corpus is the base name used in Syriaca.org.

[2018-04-18 19:14] jedwardwalters opened #97 "404 page"
Currently the 404 page is just a blank white page that says "Easy Does It!"

Can we make this page look more uniform with the corpus design? We also thought that as a 404 message, this epigraph from Ecclesiastes 12:12 might be funny:

"Of making many books there is no end, and much study is a weariness of the flesh"

[2018-04-18 19:32] jedwardwalters opened #98 "Text 339"
Text 339.xml has a repeated letter 'p' showing up throughout the text that need to be removed.

[2018-04-18 19:35] jedwardwalters opened #99 "Ephrem texts"
This is just a reminder: when we fork to the production server, we need to leave the Ephrem texts on the dev server (URIs 259-331) for a bit.

[2018-04-19 00:55] jedwardwalters commented on #96
https://docs.google.com/spreadsheets/d/1PIXjFLAP_HNDgfsaErSo5fToipCliWntT_njwS6eDeI/edit?usp=sharing

Shared this link with syriaca editors for feedback.

[2018-04-19 01:14] jedwardwalters commented on #98
Done.

[2018-04-19 01:14] #98 closed

[2018-04-23 15:16] jedwardwalters opened #100 "Categorization"
We need a way to label various kinds of submissions
-transcription of manuscript
-transcription of printed edition
-born digital
-etc

[2018-04-23 15:49] jedwardwalters opened #101 "Advanced Search - Title"
The "title" limit on the advanced search isn't working.

[2018-04-23 15:49] wsalesky commented on #13
Add a limit by catalog dropdown on the search page and a facet by catalog and author as on browse.

[2018-04-25 12:48] wsalesky commented on #101
Can you give me a search example and what you get vs. what you expect?

[2018-04-25 13:13] jedwardwalters commented on #101
Sure. When I search for the Syriac word ܢܦܫܐ and limit the corpus by author (I'll use Aphrahat as an example), it works perfectly. I get these results:
<img width="1440" alt="screen shot 2018-04-25 at 9 08 30 am" src="https://user-images.githubusercontent.com/11543800/39247850-82a0932c-4868-11e8-9d63-7b80b03f8678.png">

But then when I leave author blank and try to limit by title, it doesn't work.

[2018-04-25 13:14] jedwardwalters commented on #101
It also doesn't work if I search with Aphrahat as the author *and* try to limit it to a single Demonstration in the title box.

[2018-04-25 13:16] wsalesky commented on #101
Okay, for some reason the advanced search has the following logic in the title search:
`tei:body/tei:div1/tei:head/tei:title`

I'm guessing we actually want to search:
`tei:TEI/tei:teiHeader/tei:fileDesc/tei:titleStmt/tei:title`

Is that correct?

[2018-04-25 13:35] jedwardwalters opened #102 "Typo in page meta-data?"
Okay, so this is strange, but I just noticed something in my search history. The title of the index page  in the meta-data of the website appears to have a typo: "projectl" instead of "project".

I've never noticed this before, so maybe it's something with my browser (just switched from chrome to firefox).

See screenshots here:
<img width="413" alt="screen shot 2018-04-25 at 9 29 47 am" src="http

[2018-04-25 13:46] wsalesky commented on #95
Added

[2018-04-25 13:46] #95 closed

[2018-04-25 13:47] wsalesky opened #103 "Testing artifact in Print css"
Moving over some print css enhancements from e-GEDSH also.

[2018-04-25 13:47] #103 closed

[2018-04-25 13:49] wsalesky commented on #102
Fixed.

[2018-04-25 13:49] #102 closed

[2018-04-25 13:52] wsalesky commented on #101
@jedwardwalters Updated. Please test. Close if fixed.

[2018-04-25 13:57] wsalesky commented on #93
Where is the numerical order specified, in the TEI?

[2018-04-25 14:00] jedwardwalters commented on #101
Okay. It works now. By the way, I like the faceted search results on this. That will be very handy as the corpus continues to grow!

[2018-04-25 14:00] #101 closed

[2018-04-25 14:02] jedwardwalters commented on #93
Hmm. Good question. It may not be specified other than the number in the title. Any thoughts on where it would need to be?

[2018-04-25 14:06] wsalesky commented on #93
Looks like you can use `@n` on the title element. I think that is how @nathangibson coded it in NHSL.

[2018-04-25 14:09] wsalesky commented on #92
Done.

[2018-04-25 14:09] #92 closed

[2018-04-25 14:12] jedwardwalters commented on #93
Okay. I'll work on that.

[2018-04-25 14:25] jedwardwalters commented on #94
I think having it in Syriac just like the Gazetteer page is perfect (same Syriac phrase and everything).

[2018-04-25 14:33] wsalesky commented on #94
Added. Do you want the facets on the Syriac Title browse as well, or should I hide that? (If it looks good as is you can close this. )

[2018-04-25 14:33] nathangibson commented on #93
Off the top of my head, I don't remember using `@n` on the title element, but if it is relevant we did use `@n` on relations to sort works contained in other works. See the final listRelation in http://wwwb.library.vanderbilt.edu/exist/apps/srophe/work/792/tei.

[2018-04-25 14:35] wsalesky commented on #93
Oh, that is where it was. Thanks @nathangibson. @jedwardwalters  It is valid on the title element as well.

[2018-04-25 14:38] wsalesky commented on #89
Sure, how would you like to include this?

Under the "About The Oxford-BYU Syriac Corpus project" ?  Do you want any explanatory text to go with the link?

[2018-04-25 14:38] wsalesky commented on #88
@jedwardwalters Is this still a question? I think @davidamichelson is probably a better resource on the TEI guidelines.

[2018-04-25 14:40] jedwardwalters commented on #88
@wsalesky Yes, @davidamichelson and I have been talking about this a bit, though tangentially through other topics. So I'll unassign you and Dave and I can figure this out.

[2018-04-25 14:42] wsalesky commented on #88
@jedwardwalters Okay, I suspect this is related: https://github.com/srophe/syriac-corpus-app/issues/87

I will wait to work on that until this one is resolved.

[2018-04-25 14:42] jedwardwalters commented on #94
This looks great. And yes, I think we can keep the facets.

[2018-04-25 14:42] #94 closed

[2018-04-25 14:43] wsalesky commented on #91
@jedwardwalters emails where this should be delivered? Also, you will need to set up a reCAPTCHA account once you have a production server and production URL.

[2018-04-25 14:49] wsalesky commented on #90
@jedwardwalters are there links to Syriaca.org data? If so what is a good record to test this with?

[2018-04-25 15:54] wsalesky commented on #13
@davidamichelson @jedwardwalters I think this is resolved. Let me know if I misunderstood.
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/search.html

[2018-04-25 18:35] jedwardwalters commented on #13
This seems to work fine. @davidamichelson?

[2018-04-25 18:38] jedwardwalters commented on #90
Looks great. I noticed a few inconsistencies, but I'll close this issue now and raise those as separate items. They may all be code related, so I'll check on that before I post.

[2018-04-25 18:38] #90 closed

[2018-04-25 18:54] jedwardwalters commented on #91
I suppose for now these can just be sent to: jwalters@rc.edu

And okay re: reCAPTCHA

[2018-04-25 18:58] jedwardwalters commented on #89
Yes, that would be fine. I'm imagining we'll have a couple of more links to put here, sort of like what you find on the gazetteer page: http://www.syriaca.org/geo/index.html

I've asked Kristian and David to write a brief "history" of the project, so that's one link we could put there. We can also put a link for the (in-progress) guideline submissions, resources, etc.

[2018-04-25 19:10] jedwardwalters commented on #93
@wsalesky I added the '@n' element to files 1-24 (The Demonstrations) for testing.

[2018-04-25 20:01] jedwardwalters opened #104 "Ways to Contribute"
@davidamichelson @dlschwartz
I've created a draft of a "Ways to Contribute" page for the corpus. This can be part of our discussion as well:
https://docs.google.com/document/d/18a29BEjdFtIhCXEzydxlVk2PShBhrgqBID2LBN1_pCY/edit?usp=sharing

[2018-04-26 13:12] wsalesky commented on #89
@jedwardwalters Added. We can add a link to the guidelines when they are ready.

[2018-04-26 14:05] jedwardwalters opened #105 "Front matter"
@wsalesky For a new text test display (http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/372.html), I added a `<front>` section in the TEI body, much like we have in the Hugoye test article. Can you set it up so that that section will display?

[2018-04-26 14:16] jedwardwalters commented on #99
Done. I pulled the Ephrem texts off the server entirely, per @davidamichelson's suggestion. They are backed up on my machine and in the cloud.

[2018-04-26 14:16] #99 closed

[2018-04-26 14:26] jedwardwalters commented on #89
Great. I'll create a separate issue when we are ready to add other things.

[2018-04-26 14:26] #89 closed

[2018-04-26 14:47] #97 closed

[2018-04-26 15:27] jedwardwalters commented on #105
This looks great as a starting place. I will show it to Dan and Dave tomorrow when we meet. Thanks for getting this in place so I have something to show them.

[2018-04-26 15:30] jedwardwalters opened #106 "Footnote justification"
For text editions with more substantive footnotes (like the new text that you added the front matter for), I think we will want them to be left justified rather than right. But for those texts that we added earlier with footnotes, I like them right justified.

Is there something I can add to the `<note>` coding to distinguish between these kinds of texts that will make this easy on you?

[2018-04-26 15:46] wsalesky commented on #106
Is there a way to distinguish between 'substantive' and not? A number of footnotes? Otherwise you would have to add something perhaps to the `@place` attribute? ex: `place="foot left"`

[2018-04-26 15:50] jedwardwalters commented on #106
Okay. Let's hold off on this for now. I'm working on another text with a critical apparatus (variant readings from multiple sources), and that will likely be a different kind of note display. So let me get the test version worked out, then we can tackle these together.

But the place attribute seems like an okay solution.

[2018-04-27 19:38] dlschwartz opened #107 "creative commons url needs resizing/break"
The cc url runs out of the How to Cite box. Perhaps we could resize it or have some way to break to a new line. I'm not sure what will be best for scaling the page.

![citation](https://user-images.githubusercontent.com/4984270/39381650-6f3e8b10-4a28-11e8-9662-23c046473c55.JPG)

[2018-04-27 19:42] davidamichelson opened #108 "Style Sheets for TEI:biblStruct"
@wsalesky We are revising how the corpus uses biblStruct encoded data. In all cases, @jedwardwalters will ensure that any data encoded in a TEI:biblSruct matches exactly with what is found in the TEI:body of the entry in the Syriaca.org Bibl module.

For example the citation information in http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/53.tei //sourceDesc will match: http://wwwb.libra

[2018-04-27 20:52] jedwardwalters opened #109 "Right hand box re-structuring"
@wsalesky This is an issue that's likely going to have multiple parts. I'm going to start with the big picture re-alignment, and then we'll go from there with other more specific issues as needed. There are a few coding tweaks I'll have to make as well to make all of this work correctly.

1. The top box (the one that has "Stable Identifiers") needs a label in the grey bar at the top (like the box

[2018-04-27 21:24] davidamichelson commented on #109
@jedwardwalters just to clarify issue #108 is about the source information for the "About This Digital Text" not about the How to Cite box. I will write another issue as #110

[2018-04-27 21:39] davidamichelson opened #110 "How to Cite Box"
@wsalesky Please revise the scripts for the how to cite box for the corpus based on the following. Please note that there are three possible scenarios the script should handle. All of them are differentiated by the contents of /TEI/teiHeader/fileDesc/editionStmt/respStmt/name

We can explain on Monday if we are meeting then.

**Scenario 1 (Citation which includes a biblStruct from the sourceDesc).

[2018-04-27 21:42] davidamichelson opened #111 "Fixing Style Sheets for Preferred Citation on Bibl Module"
related to issue #108 please fix the style sheet on both the Bibl Module and the Corpus (sorry to post only here) for http://wwwb.library.vanderbilt.edu/bibl/2329

Currently the preferred citation reads:

Jean Parisot, ed. _Aphraatis Sapientis Persae Demonstrationes_. , Patrologia Syriaca, vol. 1.1 ( Paris: Firmin-Didot, 1894).

The corrected version needs to make 4 changes (add comma after "ed.",

[2018-04-27 21:46] davidamichelson commented on #108
One confusion is why the preferred formats for http://wwwb.library.vanderbilt.edu/bibl/2329 and http://wwwb.library.vanderbilt.edu/bibl/1765 are different. They should each be corrected as:

Alphonse Mingana, ed., _Narsai doctoris Syri homiliæ et carmina_, (Mausilii: Typis Fratrum Prædicatorum, 1905).

and

Jean Parisot, ed., _Aphraatis Sapientis Persae Demonstrationes_, Patrologia Syriaca, vol. 1

[2018-04-27 22:11] davidamichelson opened #112 "Revise copyright language in footer for corpus"
Please revise the footer. New text should read:

[CC LOGO] The Oxford-BYU Syriac Corpus is a joint project of the University of Oxford and Brigham Young University in collaboration with Vanderbilt University and the Center of Digital Humanities Research (CoDHR) at Texas A&M University. This HTML page is copyrighted by Vanderbilt University and released under a under a Creative Commons Attribution

[2018-04-27 22:13] jedwardwalters commented on #109
Yes, thanks for that clarification. I got my wires crossed in my haste to post this issue before I left the office.

[2018-04-27 22:15] jedwardwalters commented on #110
Thanks for writing this up, Dave. I was going to post this tonight.

[2018-04-28 02:35] jedwardwalters opened #113 "Type of text"
@dlschwartz and @davidamichelson Today we discussed encoding a "type of text" to display in the right hand box, but we did not discuss where to encode this. I'm thinking the editionStmt. Other suggestions?

[2018-04-28 02:39] davidamichelson opened #114 "Linked Open Data Box"
@wsalesky I think we are ready to plug the Linked Open Data side bar from GEDSH into the corpus. It should go in its own box on the right, below the How to Cite Box. Would you mind please plugging in what you have now (probaby nothing will work) and we can discuss at our next meeting how to scrape the corpus TEI document for URIS. The count functions we worked out for the SPARQL queries should rem

[2018-04-28 02:41] davidamichelson commented on #114
@wsalesky wait I am an idiot, it is already there! I am not sure how I missed it!

[2018-04-28 02:41] davidamichelson commented on #114
Let's review how it is working on Monday.

[2018-04-29 13:58] wsalesky commented on #111
Fixed.

[2018-04-29 14:43] wsalesky commented on #109
Initial changes made. Still waiting for some info to be populated in XML.

[2018-04-29 19:29] jedwardwalters commented on #109
Sorry. Didn't mean to hit "close"!

[2018-04-29 19:33] jedwardwalters commented on #111
@wsalesky It looks like there's still a space between ( and Paris near the end of the source citation.

[2018-04-30 12:40] wsalesky commented on #111
@jedwardwalters  Sorry, where are you seeing this? (Link?)

[2018-04-30 12:43] wsalesky commented on #110
@davidamichelson It might be useful to quickly go over this in our meeting today.

[2018-04-30 12:54] jedwardwalters commented on #111
@wsalesky Oh, my bad. I should have included that:
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/1.html

<img width="313" alt="screen shot 2018-04-30 at 8 53 15 am" src="https://user-images.githubusercontent.com/11543800/39428064-12a19a86-4c54-11e8-9a58-0a4c7e0172b4.png">

[2018-04-30 13:06] wsalesky commented on #111
@jedwardwalters Thanks. Looks like the new stylesheet just didn't make it over. Fixed now.

[2018-04-30 13:06] #111 closed

[2018-04-30 13:06] wsalesky commented on #108
Fixed.

[2018-04-30 13:06] #108 closed

[2018-04-30 13:54] jedwardwalters opened #115 "Email addresses"
@wsalesky We need to create some dedicated email addresses for the Corpus.

I think @davidamichelson mentioned that we might make one through the domain, something like info@syriaccorpus.org, but then that Winona could also make some other addresses through the app. I think, at the very least, we might want:
submissions@syriaccorpus.org
corrections@syriaccorpus.org

And all of these can just be se

[2018-04-30 14:30] wsalesky commented on #110
Updated TEI:
[code]

[2018-04-30 14:38] jedwardwalters opened #116 "About this Digital Text box"
@wsalesky @davidamichelson

1. Remove "Stable ID" label completely
2. Left justify Corpus Text ID and NHSL (i.e. remove white space to the left)
3. Make the NHSL URI a live link
4. Make Open access paragraph smaller font

[2018-04-30 14:39] jedwardwalters opened #117 "Small tweaks to How to Cite box"
@wsalesky @davidamichelson
1. Remove Editorial Responsibility section (header and names)
2. Move publication date to top

[2018-04-30 14:40] jedwardwalters opened #118 "Update sourceDesc"
Using the code @wsalesky typed in issue #110

[2018-04-30 14:40] jedwardwalters opened #119 "Type of text"
Add text type as type attribute on `<body>`
use camel case to split words

[2018-04-30 15:00] davidamichelson commented on #114
List of paths to search for syriaca.org URIS:

Any @ref
/TEI/teiHeader/fileDesc/titleStmt/title/@ref

Any idno/@type="URI"()

[2018-04-30 15:29] davidamichelson opened #120 "Print to PDF"
All PDFS need the "About This Digital Text" box information at the end of the document.

On PC, the PDFs still have the sedra links, these should be removed.

[2018-04-30 15:33] davidamichelson opened #121 "Top Right Buttons"
Move "Corrections/Additions" button up and put on the right of the list with printer etc. And shorten to "Corrections?"

After "Corrections" and before printer, please add a "Copy" button that copies to clipboard the contents of the RTF file in plain text. It should have a pop up button that reads "To preserve right-to-left text, paste with options "unformatted text" or "keep text only.""

Shorten

[2018-04-30 15:56] davidamichelson commented on #114
Please shorten the pop up to: "This sidebar provides links via Syriaca.org to additional resources beyond this record."

In the box itself:
Delete "Resources related to other topics in this record." Delete the hide button instead use expand and collapse.

[2018-04-30 16:09] davidamichelson opened #122 "Documentation Wikis for Corpus"
@jedwardwalters we talked with @dlschwartz today about issues related to cutting and pasting Syriac out of the corpus and came up with a variety of solutions. It is a headache on mac!!!

Anyway I think one more step is to assemble some help documentation which probably needs to go somewhere in the top menus, probably font-> help which takes you to here:
http://wwwb.library.vanderbilt.edu/exist/app

[2018-04-30 16:10] davidamichelson commented on #122
@wsalesky where do we find that wiki? Is it physically separate from the Srophe App?

[2018-04-30 16:11] davidamichelson commented on #122
I think this is just using the Syriaca wiki, so we need to make a corpus specific one here https://github.com/srophe/syriac-corpus/wiki

[2018-04-30 16:13] davidamichelson opened #123 "Caption for Corpus Header"
The caption here: http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/documentation/wiki.html?wiki-page=&wiki-uri=https://github.com/srophe/srophe-app-data/wiki

is not correct: it reads:
Photo Credit:Decorative Arch, Resafa, Syria. Copyright, Daniel Schwartz.

@jedwardwalters Winona will need text from you.

[2018-04-30 16:13] davidamichelson commented on #123
Actually @wsalesky The correct caption (Image Colchester 1932.228 f. 4b ) is found on the landing page. Not sure why the wrong caption there.

[2018-04-30 16:28] wsalesky opened #124 "Cull documenation pages"
Remove unnecessary pages from the documentation folder.  @jedwardwalters

[2018-04-30 16:31] wsalesky commented on #123
Fixed.

[2018-04-30 16:31] #123 closed

[2018-04-30 17:05] wsalesky commented on #120
Fixed. https://github.com/srophe/syriac-corpus-app/commit/0740aa1e1fc22102930776931700213308dd424c

[2018-04-30 17:33] wsalesky commented on #116
Done. @jedwardwalters please close if it looks right to you.

[2018-04-30 17:34] wsalesky commented on #115
@jedwardwalters @davidamichelson I can add emails but not create them. I think that will have to be done through the systems dept.

[2018-04-30 17:47] jedwardwalters commented on #116
This all looks great. Thanks.

[2018-04-30 17:47] jedwardwalters commented on #121
I don't think the copy button needs a ? at the end.

[2018-04-30 18:03] jedwardwalters commented on #121
I think this looks good.

[2018-04-30 18:04] wsalesky commented on #121
Great, I need to add the functionality for the text serialization and the copy function, so just leave it open for now.

[2018-04-30 19:29] davidamichelson commented on #121
Should these buttons go up under the line like the URI Button but justified
right? Also is the URI button redundant?

On Mon, Apr 30, 2018 at 1:04 PM, Winona Salesky <notifications@github.com>
wrote:

[2018-04-30 19:33] davidamichelson commented on #116
A couple more thoughts:
1. Should the list of  NHSL URIs also have the titles? For example on http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/121 it lists the Gospel of John URI and also two containing URIs but you can't tell which is which.

2. The "Open Access and Copyright:" still looks too long. Should it be collapsed to:
**Open Access and Copyright:**
This electronic edition is de

[2018-04-30 19:34] davidamichelson opened #125 "Is the right hand URI button and URI redundant"
With the "Corpus Text ID" section in the box?

[2018-04-30 19:36] davidamichelson commented on #115
Sorry just to clarify, I will create the address and I think that
info@syriaccorpus.org shoudl be enough at first. What Jamey is asking about
is how to let you know what addresses the "Corrections?" button should send
to.

On Mon, Apr 30, 2018 at 12:34 PM, Winona Salesky <notifications@github.com>
wrote:

[2018-04-30 19:37] jedwardwalters commented on #115
Sorry, @davidamichelson. I must have misunderstood when we had that conversation.

[2018-04-30 19:37] davidamichelson commented on #117
Did the Publication Date move up to the About This Digital Text box?

It should perhaps come right after status.

[2018-04-30 19:38] jedwardwalters commented on #117
Oh, yeah, I noticed that the date of publication had dropped out too, but I forgot to make a note of it.

[2018-04-30 19:38] davidamichelson commented on #110
One more request @wsalesky could you please change the "Show Full Publication Information" button to "Show Other Citation Styles"

[2018-04-30 19:39] jedwardwalters commented on #125
Yes, I think it's probably redundant and can be removed.

[2018-04-30 19:39] jedwardwalters commented on #125
You mean the Left hand button, right?

[2018-04-30 19:40] davidamichelson commented on #120
On Firefox the Print button PDF puts the Info Box on the right, not the bottom.

[2018-04-30 19:41] davidamichelson commented on #120
[Gospel of John -.pdf](https://github.com/srophe/syriac-corpus-app/files/1961938/Gospel.of.John.-.pdf)

[2018-04-30 19:41] davidamichelson commented on #120
Also the "Click to send to the printer" image is still visible.

[2018-04-30 19:42] davidamichelson commented on #122
Okay, does it look like we can clone a wiki?

On Mon, Apr 30, 2018 at 11:12 AM, Winona Salesky <notifications@github.com>
wrote:

[2018-04-30 19:43] davidamichelson commented on #108
Forgot to say this this morning! They look perfect! Thanks @wsalesky !!

[2018-04-30 19:44] davidamichelson commented on #125
Yes, @wsalesky please remove the lefthand URI button and text for URI

On Mon, Apr 30, 2018 at 2:39 PM, jedwardwalters <notifications@github.com>
wrote:

[2018-04-30 19:56] davidamichelson commented on #116
Okay, thinking about how to do the shortening of the "Open Access and Copyright:" section. I will experiment in record 100 with putting the statement in two notes. Just include TEI:note[1] before the collapse.

[code]

[2018-04-30 20:01] davidamichelson commented on #116
@jedwardwalters If this works for Winona, we can include the changes in http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/100 in all the documents.

[2018-04-30 20:03] davidamichelson opened #126 "Stylesheets for Bibl"
@wsalesky The style sheet for the source on http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/100 is missing the period at the end of the citation.

See http://wwwb.library.vanderbilt.edu/bibl/2491 where the preferred citation has a period at the end.

Also, separately, we need to write a test so that Syriac Characters are never italicized in these style-sheets. Would that be possible pl

[2018-04-30 20:11] jedwardwalters commented on #116
Okay, sounds good.

[2018-04-30 21:03] davidamichelson commented on #110
@jedwardwalters Should we move this box above the About this Digital Text?

[2018-05-01 02:40] jedwardwalters commented on #110
@wsalesky Okay, I got some stuff ready for testing. Namely files 1-24, 26-27, and 372. Those can be our test run.

[2018-05-01 12:32] jedwardwalters commented on #113
Resolved. Put as a type attribute on `<text>`

[2018-05-01 12:32] #113 closed

[2018-05-01 12:32] jedwardwalters commented on #119
Types:

Manuscript Transcription
Print Transcription
Born Digital Diplomatic Edition
Born Digital Eclectic Edition

[2018-05-01 12:34] jedwardwalters opened #127 "Status"
Use status attribute on `<revisionDesc>`
Options:
Uncorrected Transcription
Under Review
Proofed Digital Edition

[2018-05-01 13:49] wsalesky commented on #110
@davidamichelson @jedwardwalters First pass up on dev, please review for errors.
Thanks!

[2018-05-01 14:00] #125 closed

[2018-05-01 14:32] wsalesky commented on #117
Added

[2018-05-01 14:32] #117 closed

[2018-05-01 14:44] wsalesky commented on #116
@jedwardwalters @davidamichelson  Updated  "Open Access and Copyright:" section, added Publication date, Status and Text type. Please review and close.

[2018-05-01 14:46] wsalesky commented on #115
@davidamichelson @jedwardwalters I am creating a config file for things we do not want published on github, we will include email addresses in this (and changed how they are handled in other versions of the app). We should discuss where to store this file.

[2018-05-01 15:05] wsalesky commented on #126
Fixed.

[2018-05-01 15:16] jedwardwalters commented on #110
@wsalesky I don't think we need the blue status box above "About this digital text"
@davidamichelson what do you think?

[2018-05-01 15:26] jedwardwalters commented on #110
@wsalesky I have a question I've been meaning to ask for a while: the Syriac text that shows up in the titles in these boxes looks different on different pages. Is there a coding thing on my end that's making this happen?

[2018-05-01 15:31] jedwardwalters commented on #110
@wsalesky Same issues on /27 as on /1 noted above, but one additional thing:
(http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/27.html)

There is extra punctuation in the middle of the citation. In both instances a period needs to be deleted:
<img width="317" alt="screen shot 2018-05-01 at 11 29 10 am" src="https://user-images.githubusercontent.com/11543800/39479435-3b3a41b6-4d33-11e8-8

[2018-05-01 15:32] wsalesky commented on #126
@davidamichelson In order to control the output of the Syriac, it has to be wrapped in `tei:foreign/@xml:lang`

ex:
[code]

[2018-05-01 15:37] wsalesky commented on #110
@jedwardwalters Thanks!

Can you give me some examples of the Syriac text looking different? There may be some conflicting CSS styles.

Also @davidamichelson if I remove the () around the ed it will effect Syriaca.org as well, if we are keeping the bibliographic xslt's synced. Is that going to be a problem?

Will get to the others shortly. Thanks for reviewing!

[2018-05-01 15:38] jedwardwalters commented on #116
I think this worked like we wanted it to on http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/100.html

But I'll let @davidamichelson weigh in.

[2018-05-01 15:44] jedwardwalters commented on #110
@wsalesky On the titles, compare:
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/26.html
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/27.html

This may just be an issue on the coding side. But in general, the Syriac text in the How to Cite box looks a little too large to me. Is it possible to make it a little smaller there without messing it up elsewhere?

[2018-05-01 16:25] wsalesky commented on #110
@jedwardwalters Yes, I think the titles in the citations are in general on the large side. I will look into that. The difference in appearance in the above records is that 26 is encoded as:
`<foreign xml:lang="syr">ܡܺܐܡܪܳܐ ܩܰܕܡܳܝܳܐ ܕܥܰܠ ܝܰܘܣܶܦ</foreign>`

and 27:
`<foreign>
ܥܠ ܓܠܝܢ̈ܐ ܐܠܗܝ̈ܐ ܕܗܘܘ ܠܘܬ ܐܒܪܗܡ
</foreign>`

As you an see 27 does not specify Syriac as the language. To get the Syriac font

[2018-05-01 16:43] jedwardwalters commented on #110
Got it. Thanks. I'll take care of that.

[2018-05-01 17:06] wsalesky commented on #110
I made the css font size smaller for the left hand menu (for Syriac font). So anything tagged with @xml:lang='syr' should render a little smaller in those boxes. Let me know if you would like it even smaller (or bigger).

[2018-05-01 17:09] wsalesky commented on #107
@dlschwartz I don't think this is an issue any longer.

[2018-05-01 17:09] #107 closed

[2018-05-01 17:10] wsalesky commented on #122
Yes, you can from the wiki page. https://github.com/srophe/srophe-eXist-app/wiki

[2018-05-01 17:55] davidamichelson commented on #115
Great can you rais this on monday please

On Tue, May 1, 2018 at 9:46 AM, Winona Salesky <notifications@github.com>
wrote:

[2018-05-01 17:57] davidamichelson commented on #116
@wsalesky can you put the " See details..." so that it continues the paragraph instead of starting a new line?

[2018-05-01 18:00] jedwardwalters commented on #110
@wsalesky That looks great to me.

[2018-05-01 18:01] wsalesky commented on #114
Updated.

[2018-05-01 18:01] #114 closed

[2018-05-01 18:03] davidamichelson commented on #110
Okay, I followed all of this but think it will be easier to discuss in person. One comment, the () around the ed. can go away, it is confusing because we seem to have three! stylesheets still:

compare the preferred citation for this source:

http://wwwb.library.vanderbilt.edu/exist/apps/srophe/bibl/1765
This is correct:
Alphonse Mingana, ed., Narsai doctoris Syri homiliæ et carmina, (Mausilii: Ty

[2018-05-01 18:05] davidamichelson commented on #122
Assinging this to Jamey and me

[2018-05-01 18:10] jedwardwalters commented on #122
@davidamichelson Maybe we can chat about this via skype at some point? Just so I understand fully what we're doing.

[2018-05-01 18:13] jedwardwalters commented on #110
@davidamichelson Is that really the correct preferred citation with the comma after the title (i.e. after carmina) when the next thing is a parentheses? It doesn't seem to me like that comma should be there.

[2018-05-01 19:50] jedwardwalters commented on #126
@davidamichelson and @wsalesky I added the xml:lang tag to the title element across all the NT documents (along with some other revisions). The Syriac is still showing up in italics though. See:
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/100.html

[2018-05-01 19:51] davidamichelson opened #128 "Font size and whitespace for line numbers, page breaks etc."
@wsalesky @jedwardwalters There are some cut and paste and some formatting issues which are related to the numbering in the corpus. Let's discuss in person.

[2018-05-01 19:53] jedwardwalters commented on #124
Just so I'm clear, we are talking about this folder, right?
https://github.com/srophe/syriac-corpus-app/tree/master/documentation

[2018-05-01 19:54] wsalesky commented on #124
Yes. Delete pages you do not need/want.

Sent from my iPhone

[2018-05-01 19:55] jedwardwalters commented on #124
Thanks. Just wanted to be sure.

[2018-05-01 19:55] #124 closed

[2018-05-01 20:13] davidamichelson commented on #122
Yes, can we meet this monday at the usual time?

On Tue, May 1, 2018 at 1:10 PM, jedwardwalters <notifications@github.com>
wrote:

[2018-05-01 20:14] davidamichelson commented on #110
@jedwardwalters @wsalesky Yes good catch jamey, okay so we need the preferred citation to be:

 Alphonse Mingana, ed., Narsai doctoris Syri homiliæ et carmina (Mausilii: Typis Fratrum Prædicatorum, 1905).

No comma before the parens.

[2018-05-01 20:16] davidamichelson commented on #116
GReat work

[2018-05-01 20:22] davidamichelson opened #129 "New requests for about this digital text box"
@jedwardwalters Please review and if you approve re-assign to W

For this section:
Source:
G. H. Gwilliam, J. Pinkerton and John Gwynn (eds.), The New Testament in Syriac [ܕܝܬܝܩܐ ܚܕܬܐ ܕܡܪܢ ܝܫܘܥ ܡܫܝܚܐ] (London: British and Foreign Bible Society, 1905).
->It would be good to have a link here to the Syriaca.org bibl module entry for this item. Perhaps by including the small book icon or the Syriaca.o

[2018-05-01 20:26] davidamichelson commented on #116
@jedwardwalters Just realizing you will need to go through and change this in all the documents?

'''
<availability>
                    <p/>
                    <licence target="http://creativecommons.org/licenses/by/4.0/">
                        <p>Creative Commons — Attribution 4.0 International — CC BY 4.0</p>
                        <p>https://creativecommons.org/licenses/by/4.0/</p>

[2018-05-01 20:31] jedwardwalters commented on #116
Yep. I can take care of that. I was waiting on final approval of this format. You only made the change in /100 right?

[2018-05-01 20:33] jedwardwalters commented on #129
Yes, I agree. I was actually wondering about the best way to provide some kind of link to documentation for those things. And I also agree that the small book icon would look nice.

Circling back to another issue on your source, though: do we need the parentheses around eds?

[2018-05-01 20:34] jedwardwalters commented on #122
Yes, I can meet at the usual time on Monday.

[2018-05-01 20:34] davidamichelson opened #130 "Corrections button e-mail form"
@jedwardwalters If you want to, you can customize this form. See for example the form on the Gazetteer. We can discuss on Monday.

[2018-05-01 20:36] davidamichelson opened #131 "Coding of Syriac text at various points on the page"
@jedwardwalters wrote: @wsalesky I have a question I've been meaning to ask for a while: the Syriac text that shows up in the titles in these boxes looks different on different pages. Is there a coding thing on my end that's making this happen?

I saw this happening on my laptop and think it is due to some Syriac text not being fully tagged. We can show you in our meeting.

[2018-05-01 20:39] davidamichelson commented on #116
Yes that's right

On Tue, May 1, 2018 at 3:31 PM, jedwardwalters <notifications@github.com>
wrote:

[2018-05-01 20:39] davidamichelson commented on #129
I added the parens thing to the long how to cite issue :)

On Tue, May 1, 2018 at 3:33 PM, jedwardwalters <notifications@github.com>
wrote:

[2018-05-01 20:48] jedwardwalters commented on #131
I just ran a find and replace across the corpus that looked for the `<foreign>` tag without the xml:lang attribute and added it. There were about 60 files that it corrected.

[2018-05-02 01:41] jedwardwalters commented on #129
Okay, then I'll go ahead and assign these changes over to @wsalesky

[2018-05-02 01:42] jedwardwalters commented on #116
@davidamichelson I have now updated the copyright section in availability across the corpus.

[2018-05-02 01:51] jedwardwalters opened #132 ""Anonymous" authorship"
@davidamichelson How do you feel about "Anonymous" being the first thing that shows up here:
<img width="315" alt="screen shot 2018-05-01 at 9 49 16 pm" src="https://user-images.githubusercontent.com/11543800/39501569-b0f75bfe-4d89-11e8-8a64-8e3a34d21fcf.png">

I don't love it. I'm wondering if we want to remove "Anonymous" as the author for all anonymous texts? Or perhaps just set up the display

[2018-05-02 02:30] davidamichelson commented on #132
Sounds like a great question for the whole editorial board!

On Tue, May 1, 2018 at 8:51 PM jedwardwalters <notifications@github.com>
wrote:

[2018-05-02 13:40] wsalesky commented on #109
@jedwardwalters @davidamichelson Are we good on this one? There is another open issue for specifics remaining in box, but I think this one can be closed.

[2018-05-02 13:44] jedwardwalters commented on #109
Yes, I think so. I'll go ahead and close. We can address any remaining things elsewhere in more specific issues.

[2018-05-02 13:44] #109 closed

[2018-05-03 02:53] davidamichelson opened #133 "Zotero Ready Metadata"
@jedwardwalters We need to discuss this when we meet. Same issue came up for GEDSH: https://github.com/srophe/e-gedsh/issues/246

[2018-05-03 13:27] jedwardwalters commented on #133
Okay. Sounds good.

[2018-05-04 15:43] dlschwartz commented on #132
Did this get resolved? I would prefer the removal of "Anonymous".

[2018-05-04 15:44] jedwardwalters commented on #132
I haven't asked the editorial board, but I think it should just be removed. I can't imagine anyone would argue for keeping it there.

[2018-05-04 15:49] dlschwartz commented on #132
Agreed. It would be nice though if browse by author "anonymous" still worked.

[2018-05-04 16:00] jedwardwalters commented on #132
Ah, interesting point, Dan.

@wsalesky Would it be difficult to have a setting where we kept the author listed as "Anonymous" for searching/sorting purposes in browse, but not have "Anonymous" appear as the author on the page display for that text? For example, for http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/188, see these two screenshots:
<img width="538" alt="screen shot 2018-05-

[2018-05-04 16:24] jedwardwalters opened #134 "Project name change"
@wsalesky It looks like the editorial board has decided to officially change the name of the project from the "Oxford-BYU Syriac Corpus" to the "Digital Syriac Corpus."

We can talk about action steps to reflect this name change across the site at our Monday meeting with @davidamichelson and @dlschwartz

[2018-05-04 16:25] wsalesky commented on #134
@jedwardwalters Okay, sounds good.

[2018-05-04 16:33] wsalesky commented on #131
@davidamichelson @jedwardwalters Can this be closed? Or is there an action item for me? I think the titles in italics is a different issue: https://github.com/srophe/syriac-corpus-app/issues/126

[2018-05-04 16:35] wsalesky commented on #129
Is there documentation to link to for:
Type of Text: Print Transcription
Status: Uncorrected Transcription

When there is I will add the link. Working on the other part today.

[2018-05-04 16:42] wsalesky commented on #129
@jedwardwalters @davidamichelson Can you highlight (screen shot) where the icon/link to Syriac.org  record should appear? with the "Source: " ?

[2018-05-04 18:07] jedwardwalters commented on #129
@wsalesky I was about to do this, but it looks like the dev server is down.

[2018-05-04 18:08] jedwardwalters commented on #131
This should be fixed now. If we run across any specific instances of the Syriac text not looking right, we can create a new issue.

[2018-05-04 18:08] wsalesky commented on #129
It is just the corpus, unfortunately.
-Winona

On Fri, May 4, 2018 at 2:07 PM, jedwardwalters <notifications@github.com>
wrote:

[2018-05-05 04:06] davidamichelson commented on #131
It seems to be still showing the behavior which is that Syriac text in the title of the work at the top is not being forced by the CSS into the prefered font. See this image.
![screenshot 2018-05-04 23 04 48](https://user-images.githubusercontent.com/3083773/39659528-cd57d874-4fef-11e8-8707-81a687711244.png)

[2018-05-06 00:55] wsalesky commented on #126
@davidamichelson @jedwardwalters I think this is fixed. Reopen if not.

[2018-05-06 00:55] #126 closed

[2018-05-06 01:08] wsalesky commented on #87
@jedwardwalters  What do you want the display for these to look like?

[2018-05-06 01:36] wsalesky commented on #87
@jedwardwalters Updated. If it looks okay, please close the issue.

[2018-05-06 01:39] jedwardwalters commented on #87
@wsalesky One quick thing: it looks like there's an extra space between the parentheses and the altidentifier name at the beginning and end:
( Vat. sir. 117 )
as opposed to
(Vat. sir. 117)

[2018-05-06 01:47] wsalesky commented on #87
Updated

[2018-05-06 01:51] jedwardwalters commented on #87
Just realized I missed something the first time. (Sorry...tired eyes).
The shelfmark isn't showing up after the repository.

So, text/30 should be: London, British Library Oriental 5463
text/26 should be: Vatican City, Vatican Library Syr. 117

[2018-05-06 01:55] wsalesky commented on #87
How about now?

[2018-05-06 01:57] jedwardwalters commented on #87
Perfect. Thanks.

[2018-05-06 01:57] #87 closed

[2018-05-06 02:11] jedwardwalters opened #135 "New text not showing"
@wsalesky It may just be a webhook thing, but a new text I added a couple of days ago (373) isn't showing up yet.

[2018-05-06 13:47] wsalesky commented on #93
@jedwardwalters This has been added. Please review and close if it meets your expectations.

[2018-05-06 13:52] wsalesky commented on #135
When I borked the server Dale reset it to Wednesday, so the  data rolled back as well. I just did a bulk upload to catch us back up. Let me know if you notice any issues.

[2018-05-06 13:52] #135 closed

[2018-05-06 13:53] wsalesky commented on #131
@davidamichelson I think this is now fixed. Reopen if not.

[2018-05-06 14:10] wsalesky commented on #120
@davidamichelson @dlschwartz I think this resolves the remaining Firefox issues.

[2018-05-06 14:10] #120 closed

[2018-05-07 13:17] wsalesky commented on #91
@jedwardwalters  This is now working, you should have received a test email from me this morning (reopen if you did not). To use the email function you will always need to drop the config file into the app after it has been deployed to eXist. I will send you a copy of the config file shortly.

[2018-05-07 13:17] #91 closed

[2018-05-07 13:39] wsalesky commented on #129
@jedwardwalters Checking back in on this one.

[2018-05-07 13:43] jedwardwalters commented on #129
@wsalesky I'll work on the documentation ASAP.

As for the location of the icon/link, it might work best to put it on the same line as the "Source:" heading, but justified to the right:
<img width="325" alt="screen shot 2018-05-07 at 9 41 04 am" src="https://user-images.githubusercontent.com/11543800/39704988-0eddd90a-51db-11e8-98e4-f73eb85adc83.png">

But maybe @davidamichelson has a different op

[2018-05-07 13:44] #93 closed

[2018-05-07 13:56] jedwardwalters commented on #100
This is resolved elsewhere.

[2018-05-07 13:56] #100 closed

[2018-05-07 13:58] jedwardwalters commented on #88
@wsalesky I think we have resolved these issues elsewhere.

[2018-05-07 13:59] jedwardwalters commented on #76
This is resolved.

[2018-05-07 13:59] #76 closed

[2018-05-07 13:59] wsalesky commented on #129
@jedwardwalters Added. Let me know what you think.

[2018-05-07 13:59] jedwardwalters commented on #30
This is done.

[2018-05-07 13:59] #30 closed

[2018-05-07 14:00] jedwardwalters commented on #129
I like it. We'll see if Dave or Dan have any thoughts at our meeting.

[2018-05-07 14:09] jedwardwalters commented on #13
I think this is resolved.

[2018-05-07 14:09] #13 closed

[2018-05-07 14:11] jedwardwalters commented on #106
@wsalesky Just following up here: do you think the `place="foot left"` is the best way to handle this?

[2018-05-07 14:14] wsalesky commented on #106
Let's test it on one and see if I can get it to behave.

[2018-05-07 14:32] jedwardwalters commented on #130
Jamey will make google group and add email to config file

[2018-05-07 14:40] davidamichelson commented on #128
Insert numbers to the right in the RTF file and include a whitespace both in the RTF and the HTML

[2018-05-07 14:45] jedwardwalters commented on #132
Add `type=`"anonymous"`` on `<author>`

[2018-05-07 14:52] jedwardwalters commented on #122
Clone syriaca.org wiki: https://github.com/srophe/srophe-eXist-app/wiki
Create first page on new wiki
Copy syriaca files into new wiki

[2018-05-07 14:55] davidamichelson commented on #122
@jedwardwalters

Clone  https://github.com/srophe/srophe-eXist-app/wiki and edit it into https://github.com/srophe/syriac-corpus-app/wiki  (This is for technical information for developers mainly)

Clone https://github.com/srophe/srophe-app-data/wiki and edit it into https://github.com/srophe/syriac-corpus/wiki (this has all the definititions of types, terms, info for scholars and editors/encoders

[2018-05-07 14:56] davidamichelson commented on #122
One more note about the section on the current wiki called:

Editorial Definitions

    Dates
    Frequently Asked Questions
    Headwords
    Language and Script Identifiers
    Place Types
    Relations
    Religious Communities
    Technical Terminology
    TEI Tag usage in Gazetteer
    Syriaca.org API Documentation
    URI Policies
    Using TEI to Catalog Syriac Manuscripts

This section is

[2018-05-07 15:01] jedwardwalters opened #136 "About page / menu"
@wsalesky Add "About" dropdown menu like the one on syriaca.org
We'll need links for:
Project Overview
Origins of the Project
Support our Work
Contact Us
Documentation
[maybe others, but this is a good start]

[2018-05-07 15:10] jedwardwalters commented on #134
@wsalesky
Change Header and Footer
Change in the name of the application in two places in the APP
NEW FOOTER: Digital Syriac Corpus is collaboration of University of Oxford, Brigham Young University, Vanderbilt University, and the Center of Digital Humanities Research (CoDHR) at Texas A&M University. This HTML page is copyrighted by Vanderbilt University and released under a under a Creative Commo

[2018-05-07 15:11] jedwardwalters commented on #134
For Jamey: do search and replace across the corpus.

[2018-05-07 15:16] jedwardwalters commented on #134
FYI: I'm presenting about the corpus at a conference on Friday, so if possible, it would be great to have this done by then.

[2018-05-07 16:10] wsalesky commented on #134
@jedwardwalters I think I caught them all. Take a look around and let me know if I missed anything.

[2018-05-07 16:10] jedwardwalters opened #137 "Editorial Board"
@wsalesky We are making a slight adjustment to the Editorial Board structure, which will affect the display on the index page. The editorial board has voted to make me the general editor for the whole project.

Right now there's just one heading "Editors" will all the board members listed. We now need two identical headers: 1) Editor and 2) Editorial Board:

Editor
James E. Walters, Rochester Coll

[2018-05-07 16:11] jedwardwalters commented on #137
I'm going to take the "editor in chief" tag off of David Taylor's name in the coding. Let me know if there's a tag I can put on my own `<name>` element that will help you with this display.

[2018-05-07 16:13] wsalesky commented on #137
@jedwardwalters The editors are hand coded, so I will just make the change on the index page.

[2018-05-07 16:13] jedwardwalters commented on #134
Not an issue with the name, but a small thing in the footer:
Digital Syriac Corpus is collaboration of...
needs to add "a" between is and collaboration (i.e.: Digital Syriac Corpus is a collaboration of...)

[2018-05-07 16:14] jedwardwalters commented on #137
Ah okay. Sounds good. Thanks!

[2018-05-07 16:15] wsalesky commented on #134
@jedwardwalters  Should 'About Digital Syriac Corpus' be 'About the Digital Syriac Corpus' on the home page?

[2018-05-07 16:16] jedwardwalters commented on #134
Yeah, I think so.

[2018-05-07 16:18] jedwardwalters commented on #134
One other issue: this appears to only be happening on the pages with the actual texts, not the index or browse pages: the title at the very top left is replacing "Digital Syriac Corpus" with the name of the text of that page. See here:
![screen shot 2018-05-07 at 12 15 56 pm](https://user-images.githubusercontent.com/11543800/39712346-afb6cfc0-51f0-11e8-81a6-e944f40d25b9.png)

[2018-05-07 16:32] wsalesky commented on #131
Resolved in the Page title as well as the citations.

[2018-05-07 16:32] #131 closed

[2018-05-07 16:35] jedwardwalters commented on #137
One quick thing: it looks like my name isn’t indented the way the board names are. Please indent the same amount, then you can close this.

[2018-05-07 16:37] wsalesky commented on #137
Done

[2018-05-07 16:40] wsalesky commented on #129
Moved icon.

[2018-05-07 16:40] jedwardwalters commented on #137
Looks great! Thanks.

[2018-05-07 16:40] #137 closed

[2018-05-07 18:43] jedwardwalters commented on #132
@wsalesky It wouldn't validate the type attribute on author, so I had to use "style" instead
`<author style="anonymous">Anonymous</author>`

[2018-05-07 18:46] jedwardwalters commented on #129
Looks good to me.

[2018-05-07 18:47] jedwardwalters commented on #134
Looks good to me everywhere I've checked. If I happen to catch anything in the next few days, I'll re-open.

[2018-05-07 18:47] #134 closed

[2018-05-07 18:58] davidamichelson commented on #88
I think this can be closed?

[2018-05-07 19:00] jedwardwalters commented on #88
Yes, I think so too.

[2018-05-07 19:00] #88 closed

[2018-05-07 19:26] wsalesky commented on #132
Okay, I will make the changes in the code.

[2018-05-07 19:27] davidamichelson commented on #110
Yes this can be closed, there is a new issue but I will make a separate issue.

[2018-05-07 19:27] #110 closed

[2018-05-07 19:29] davidamichelson opened #138 "How to Cite (definite article?)"
"in Digital Syriac Corpus" or just Digital Syriac Corpus?

I am wondering if we should get rid of the "in" now that there is no definite article? @jedwardwalters

Current:
Note:
Jacob of Serugh, “On Joseph (Memra 1) - ܡܺܐܡܪܳܐ ܩܰܕܡܳܝܳܐ ܕܥܰܠ ܝܰܘܣܶܦ,” based upon Vat. sir. 117, in Digital Syriac Corpus, last modified May 1, 2018, https://syriaccorpus.org/26.
Bibliography:
Jacob of Serugh. “On Joseph (

[2018-05-07 19:31] wsalesky commented on #132
@jedwardwalters Updated the code. Close if it looks good.

[2018-05-07 19:31] jedwardwalters commented on #138
Good idea. I think it will be better without "in".
@wsalesky Can you remove "in/In" from the citation code before "Digital Syriac Corpus"?

[2018-05-07 19:31] davidamichelson opened #139 "About This Digital Text > Source: +Manuscript?"
In the "About This Digital Text" box, under "Source:" do we want to add the abbreviation MS?

Current:
Source:
Berlin, Staatsbibliothek zu Berlin 201
(Sachau 165)

Suggested:
Source:
MS Berlin, Staatsbibliothek zu Berlin 201
(Sachau 165)

[2018-05-07 19:32] davidamichelson opened #140 "Title in preface not in italics"
@jedwardwalters I like this preface: http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/372

I notice the title you cite there is not italics. Is it marked as a title in the TEI?

[2018-05-07 19:33] jedwardwalters commented on #139
Generally that's what we do have in the parenthetical thing. See here:
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/30.html

It's just that in this particular case, I coded it so that the alternate name would show up, not the abbreviated one.

[2018-05-07 19:34] jedwardwalters commented on #140
I think it is marked in the TEI, but I'll double check and then check with @wsalesky about styling.

[2018-05-07 19:36] jedwardwalters commented on #140
Oh. For some reason it looks like I abbreviated "italic" as "ital" when I did this. Strange. I'll fix that and see if that does it.

[2018-05-07 19:37] davidamichelson commented on #129
FYI, the period at the end of the source still needs adding. See http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/100

Source:
G. H. Gwilliam, J. Pinkerton and John Gwynn eds., The New Testament in Syriac [ܕܝܬܝܩܐ ܚܕܬܐ ܕܡܪܢ ܝܫܘܥ ܡܫܝܚܐ] (London: British and Foreign Bible Society, 1905) Link to Syriaca.org Bibliographic Record

[2018-05-07 19:40] jedwardwalters commented on #140
Yep, that was the issue. It displays in italics now.

[2018-05-07 19:40] #140 closed

[2018-05-07 19:40] davidamichelson commented on #132
@jedwalters not essential, but I wonder if @role might make more sense than
@style?

On Mon, May 7, 2018 at 2:31 PM, Winona Salesky <notifications@github.com>
wrote:

[2018-05-07 19:42] davidamichelson commented on #139
Okay, this is a bit of a preference, so maybe leave as is?

On Mon, May 7, 2018 at 2:33 PM, jedwardwalters <notifications@github.com>
wrote:

[2018-05-07 19:44] jedwardwalters commented on #139
Sorry, what is the preference? Do we need to change something here?

[2018-05-07 19:47] jedwardwalters commented on #132
@davidamichelson Perhaps. I briefly looked through the list of allowed attributes, and none of them struck me as perfect. I'm happy to change it if you think @role is better.

[2018-05-07 19:52] jedwardwalters commented on #106
@wsalesky I thought of a possible solution here. I think this will only be an issue on our "born digital editions," which will generally include some kind of preface, likely with more substantive footnotes, and then a more traditional apparatus with variant readings.

So, my proposal is: what if we had two different sections at the bottom (which we could distinguish with the "place" attribute on t

[2018-05-07 19:56] jedwardwalters commented on #106
Then again, perhaps just left-justifying all notes and not having two different sections might be a more elegant solution.

[2018-05-07 19:57] jedwardwalters commented on #106
Here's an example of a text with mostly just critical apparatus notes, justified-right, as an example for comparison with /372 above:
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/365.html

[2018-05-07 19:58] davidamichelson commented on #139
Ah, I meant I defer to your preference as to adding in MS or not.

[2018-05-07 19:58] davidamichelson commented on #132
I think @role allows you to specif an attribute of the author, which is
this is an anonymous one

On Mon, May 7, 2018 at 2:47 PM, jedwardwalters <notifications@github.com>
wrote:

[2018-05-07 20:00] jedwardwalters commented on #139
Oh gosh, then I totally misunderstood your first question. Sorry! Trying to work too quickly and do too many things at once. I'm not sure about adding MS. Do you think it adds clarity? If so, I'm happy to add it.

[2018-05-07 20:01] davidamichelson commented on #106
I think we should justify them all left rather than two directions. Even
the critical apparatus ones justify left when you use the pop and they look
okay.

On Mon, May 7, 2018 at 2:57 PM, jedwardwalters <notifications@github.com>
wrote:

[2018-05-07 20:02] jedwardwalters commented on #132
Okay. Sounds good. I'm happy to make this change.
@wsalesky can you update the code to change from `@style` to `@role`? Then I think we can close this, because the display on the current code looks fine to me.

[2018-05-07 20:02] davidamichelson commented on #106
FYI on 372, Jamey should note one have a period at the end?

On Mon, May 7, 2018 at 3:00 PM, David Michelson <david.a.michelson@gmail.com

[2018-05-07 20:03] davidamichelson commented on #139
It is not essential. Let's leave it as is.

On Mon, May 7, 2018 at 3:00 PM, jedwardwalters <notifications@github.com>
wrote:

[2018-05-07 20:03] jedwardwalters commented on #106
@davidamichelson I agree. I think that is a better solution than the two sections.
@wsalesky Sorry, I know we went back on forth on this previously. Can we just set all footnote displays to justify to the left?

[2018-05-07 20:04] jedwardwalters commented on #139
Okay. Sorry I misread it the first time!

[2018-05-07 20:04] #139 closed

[2018-05-07 20:05] jedwardwalters commented on #106
@davidamichelson And yes, that first footnote is missing a period. Nice catch!

[2018-05-07 20:09] jedwardwalters commented on #132
FYI I've changed this in the XML files already.

[2018-05-08 13:43] wsalesky commented on #138
@davidamichelson, @jedwardwalters  Fixed. Closed if it looks good to you.

[2018-05-08 13:48] wsalesky commented on #132
@jedwardwalters  Updated the code. Close if it looks good.

[2018-05-08 13:58] jedwardwalters commented on #132
@wsalesky I checked on the Book of Steps entries and Odes of Solomon, and those are fine, but for some reason "Anonymous" is still showing up as the author on http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/372.html

I tried doing a hard refresh on that page and it's still showing up.

[2018-05-08 14:02] jedwardwalters commented on #138
Looks good to me.

[2018-05-08 14:02] #138 closed

[2018-05-08 14:14] wsalesky commented on #132
Looks like that record did not get loaded to eXist. I manually pushed it.

[2018-05-08 14:18] jedwardwalters commented on #132
Looks good now. Thanks.

[2018-05-08 14:18] #132 closed

[2018-05-08 14:51] wsalesky commented on #128
@davidamichelson  @jedwardwalters  Added. Please take a look. The .txt view is now available on dev.

[2018-05-08 14:52] wsalesky commented on #106
@jedwardwalters is there an action item here, I think currently all items justify left already? Let me know if not (and link to an example for me to check)

[2018-05-08 17:36] wsalesky commented on #121
Added copy function. Please test. @davidamichelson @jedwardwalters

[2018-05-08 21:09] davidamichelson commented on #128
@wsalesky whitespace in the HTML works fine and the numbers and text cut and paste fine so that is done.

On the .txt download. There are a couple of issues:
1. The button displays in my browser rather that automatic download. I can download by right click, but is there a way to force download?
2. There are no numbers in the .txt version. I think we do want them in there with the same whitespace a

[2018-05-08 21:17] davidamichelson commented on #106
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/372 justifies
right. (I think they all justify right?)

On Tue, May 8, 2018 at 9:52 AM, Winona Salesky <notifications@github.com>
wrote:

[2018-05-09 13:14] wsalesky commented on #128
@davidamichelson @jedwardwalters

1. Done. I have forced the text to download automatically.
2. I added the numbers in.
3. Removed excess whitespace
4. To add formatting and create a true RTF version of the citation will take a few hours (5ish). Do you want me to the time invest into that?

[2018-05-09 13:17] wsalesky commented on #106
Done.

[2018-05-09 13:34] jedwardwalters commented on #106
Looks good. Thanks, @wsalesky.

[2018-05-09 20:15] davidamichelson commented on #128
Thanks! There are still some issues including in issue # 121 so let's
discuss on Monday. This may be good for now! Please keep these open so we
can discuss.

On Wed, May 9, 2018 at 8:14 AM, Winona Salesky <notifications@github.com>
wrote:

[2018-05-10 02:47] jedwardwalters opened #141 "Syriac Search on Production"
Hi @wsalesky ,

The proximity search is working, but the results aren't always displaying correctly. For example, when I do this search: https://divinity-dev.app.vanderbilt.edu/exist/apps/syriac-corpus/search.html?q=%22%DC%90%DC%93%DC%AA%DC%AC%DC%9F%2B%DC%A9%DC%AA%DC%9D%DC%AC%DC%97%22&keywordProximity=5&author=&title=&fq=&section=&corpus-uri=&syriaca-uri=&text-id=

It returns the correct text that

[2018-05-10 02:52] jedwardwalters commented on #141
And when I do this search (which returns a lot more results), some of them display correctly, and others don't. As here:
<img width="825" alt="screen shot 2018-05-09 at 10 49 31 pm" src="https://user-images.githubusercontent.com/11543800/39849683-9fcf3722-53db-11e8-8824-75978590aa48.png">

[2018-05-10 12:30] wsalesky commented on #36
@jedwardwalters I think this can be closed now.

[2018-05-10 12:30] #36 closed

[2018-05-10 13:30] jedwardwalters opened #142 "Manuscript source display"
Something broke in our source display when the source is a manuscript. It's happening on both dev and production sites:

http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/30.html

https://divinity-dev.app.vanderbilt.edu/exist/apps/syriac-corpus/26.html

[2018-05-10 13:31] jedwardwalters commented on #129
@wsalesky It appears to be working on almost all the records where expected. For some reason, though, it's not showing up on texts 1-23.

http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/1.html

[2018-05-10 13:37] wsalesky commented on #142
Fixed.

[2018-05-10 13:37] #142 closed

[2018-05-10 13:38] wsalesky commented on #129
That has been fixed. There remains a space between the end of the citation and the period that I am having a very difficult time eliminating. Leaving this open.

[2018-05-10 13:42] jedwardwalters commented on #142
Looks good. Thanks.

[2018-05-10 13:57] wsalesky commented on #136
@jedwardwalters Added to dev server. Will add to production once the pages are in place to link to.

[2018-05-10 13:59] jedwardwalters commented on #136
Great. Thank you. This will be my primary to-do thing next week after the Kalamazoo conference trip this weekend.

[2018-05-10 14:43] davidamichelson commented on #129
Hmm, there is still no period in the box for record 100 see
<img width="389" alt="screenshot 2018-05-10 09 41 25" src="https://user-images.githubusercontent.com/3083773/39875560-89b65f1e-5436-11e8-85ba-16e19a4475e9.png">

[2018-05-10 14:45] jedwardwalters commented on #129
Interesting. It was showing up earlier when I checked that record, but not now.

[2018-05-10 14:49] wsalesky commented on #129
Sorry all, I'm trying to get rid of that extra space, it is causing all sorts of issues.

[2018-05-10 14:54] davidamichelson commented on #129
:)

On Thu, May 10, 2018 at 9:49 AM, Winona Salesky <notifications@github.com>
wrote:

[2018-05-10 14:58] wsalesky commented on #129
@davidamichelson  @jedwardwalters  Okay, I think I have it working on dev. Please review, I used the following to review: (if you know there are citations with different structures check those as well)
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/26 (manuscript)
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/100 (monograph)
http://wwwb.library.vanderbilt.edu/exist/apps/

[2018-05-10 15:01] jedwardwalters commented on #129
Looks good in all the places I checked it.

[2018-05-10 15:03] jedwardwalters opened #143 "Dev site home page"
For some reason the title on the dev site home page has reverted to "Oxford-BYU Syriac Corpus" -- not a major problem at the moment. Just worth noting.
<img width="664" alt="screen shot 2018-05-10 at 11 00 23 am" src="https://user-images.githubusercontent.com/11543800/39876634-b4ca252c-5441-11e8-9649-052af4548c64.png">

[2018-05-10 15:07] wsalesky commented on #143
Sorry, to many versions of this running.

[2018-05-10 15:07] #143 closed

[2018-05-10 15:11] jedwardwalters commented on #143
No worries. Totally  understand. I just happened to see it and wanted to make note of it. Thanks.

[2018-05-10 15:12] wsalesky commented on #141
See this bug: https://github.com/eXist-db/exist/issues/833

[2018-05-10 16:13] jedwardwalters commented on #141
Ah, okay. Good to know. I assume that means our hands are tied on this issue for now.

I suppose that it's at least good to know it's finding the correct matches, and only the display in the search is the problem.

[2018-05-10 16:32] wsalesky commented on #141
There is a work around that I am trying to test, but it is challenging because we evaluate our searches dynamically. I will work on it today and see how far I can get.

[2018-05-10 18:40] jedwardwalters commented on #141
@wsalesky I think part of the display issue is that it's still including one off instances of each word in a string in the results, even when it's only "looking for" the pairing. So, in other words, even when it's returning correct results in terms of text, it's not displaying the search results as a string. See here where you can actually see both words as part of the return results, but it's onl

[2018-05-10 19:28] jedwardwalters opened #144 "Draft banner"
@wsalesky Can we go ahead and remove the "Draft Not for Citation" banner from the production site?

[2018-05-10 19:29] jedwardwalters commented on #118
This is done now.

[2018-05-10 19:29] #118 closed

[2018-05-10 19:30] jedwardwalters commented on #115
I think we can close this now.

[2018-05-10 19:30] #115 closed

[2018-05-10 19:31] jedwardwalters commented on #105
I think we can close this.

[2018-05-10 19:31] #105 closed

[2018-05-10 20:31] wsalesky commented on #144
I think it automagically goes away once the correct URL is in place. If not I will remove it.

[2018-05-10 20:37] jedwardwalters commented on #144
Ah okay.

[2018-05-10 20:37] #144 closed

[2018-05-10 20:42] jedwardwalters opened #145 "Home page"
@wsalesky Can we move the "featured work" item over to the right into that white space? (see below)
And maybe we can make "Featured Works" (note the plural works) a heading with bullet point items underneath? Then, in addition to the featured text we already have there, you can add:
https://divinity-dev.app.vanderbilt.edu/exist/apps/syriac-corpus/372.html
<img width="1434" alt="screen shot 2018-05

[2018-05-10 21:34] wsalesky commented on #145
Added

[2018-05-10 21:34] #145 closed

[2018-05-10 21:34] wsalesky opened #146 "Problem with webhooks, strange characters introduced."
See index.html on production server.

[2018-05-10 21:35] jedwardwalters commented on #145
Looks good.

[2018-05-11 00:18] jedwardwalters opened #147 "Editors"
@wsalesky The index page has reverted back to the old editors list  (i.e. not the split editor / editorial board)

[2018-05-11 00:18] jedwardwalters commented on #147
On both production and dev

[2018-05-11 00:36] wsalesky commented on #147
Oy. Fixed now.

[2018-05-11 00:36] #147 closed

[2018-05-11 00:37] jedwardwalters commented on #147
Thank you. Sorry you have to keep playing whack-a-mole!

[2018-05-11 00:38] wsalesky commented on #147
So it goes. Looks like we are pretty close to a working site.

[2018-05-11 14:57] wsalesky commented on #141
@jedwardwalters I think the new version is an improvement. Maybe not a full solution though. Let  me know what you think.

[2018-05-11 18:34] wsalesky opened #148 "Issue with .txt output. Problem in citation generation"
https://divinity-dev.app.vanderbilt.edu/exist/apps/syriac-corpus/26

error:
javax.servlet.ServletException: An error occurred while processing request to /exist/apps/syriac-corpus/26.txt: err:XPTY0004 checking function parameter 1 in call string-join(untyped-value-check[xs:string, bibl2html:citation($node)], ""): Internal evaluation error: context is missing for node 1.2.2.8.3.2 ! [at line 63, col

[2018-05-11 18:35] wsalesky opened #149 "LOD box on production"
Mismatch between http/https on servers cause javascript failures. Need a work around.  Will be a problem for e-GEDSH  as well.

[2018-05-13 02:03] jedwardwalters commented on #141
@wsalesky I agree, it does seem to be working better.

[2018-05-13 03:10] wsalesky commented on #149
Fixed.

[2018-05-13 03:10] #149 closed

[2018-05-14 13:53] jedwardwalters commented on #122
@davidamichelson @wsalesky @dlschwartz I have now cloned the wikis, and I don't think I broke anything! So hopefully today we can briefly discuss what needs to stay, what needs to be edited, and what can be deleted.

[2018-05-14 14:26] jedwardwalters commented on #122
@davidamichelson I took a crack at converting one of the hard coded html pages you listed into markdown in one of the new wikis. See here: https://github.com/srophe/syriac-corpus/wiki/Dates

[2018-05-14 14:46] jedwardwalters commented on #122
I have now culled out the documents from Syriaca.org that I don't think we need in the Corpus documentation. Everything remaining will need editing: some of it will be light (just changing syriaca.org language to syriaccorpus.org, etc), but some of it will be completely re-written.

[2018-05-14 15:33] davidamichelson opened #151 "Remove hard coded documentation"
Editorial Definitions

    Dates
    Frequently Asked Questions
    Headwords
    Language and Script Identifiers
    Place Types
    Relations
    Religious Communities
    Technical Terminology
    TEI Tag usage in Gazetteer
    Syriaca.org API Documentation
    URI Policies
    Using TEI to Catalog Syriac Manuscripts

[2018-05-14 15:52] wsalesky opened #152 "Main nav links break in documenation modules"

[2018-05-14 19:22] jedwardwalters opened #153 "Editor title on index page"
@wsalesky Can you change the heading above my name on the index page from "Editor" to "General Editor"? Thanks.

[2018-05-14 19:29] jedwardwalters commented on #153
This feels like a very vain request, but Dave and I just talked about it ;)

[2018-05-14 21:23] davidamichelson opened #154 "Featured Works on Landing Page"
The URIs are encoded with the URI +.html, but it would be better to encode with just the URIs so that https://syriaccorpus.org/345 appears in the browser bar and not https://syriaccorpus.org/345.html

Featured Works

    Jacob of Serugh: On That Star Which the Magi Saw - ܥܲܠ ܟܵܘܟ݁ܒ̣ܵܐ ܗܵܘ̇ ܕܐܸܬܼܚܙܝܼ ܠܲܡܓ̣ܘܼ̈ܫܹܐ
    Exhortation of the Apostle Peter - ܡܡܠܠܐ ܕܛܘܒܢܐ ܦܬܪܘܣ ܫܠܝܚܐ ܕܥܠ ܡܪܬܝܢܘܬܐ

[2018-05-14 21:38] jedwardwalters commented on #106
Might be a problem in the code. I’ll have a look tonight.

Sent from my iPhone

[2018-05-15 01:45] wsalesky commented on #153
Added.

[2018-05-15 01:45] #153 closed

[2018-05-15 01:45] wsalesky commented on #154
Fixed

[2018-05-15 01:45] #154 closed

[2018-05-15 01:47] wsalesky opened #155 "remove draft banner from production version."

[2018-05-15 01:48] #155 closed

[2018-05-15 02:08] wsalesky commented on #106
Fixed. I had to force the left alignment with this `&#8206;`

[2018-05-15 03:11] davidamichelson commented on #106
Alas, and now the footnotes are maybe not wrapped with the Syriac script codes so they do not change font or use the default embeddedfont

[2018-05-15 03:12] davidamichelson commented on #106
While we are at it, the Sedra Popup Box also does not use the default Syriac font. Can we make it do so?

[2018-05-15 19:07] davidamichelson opened #156 "Search results should highlight but NOT be in italics"
@wsalesky  I think we discussed this once, but no worries if it got away.

Because italics slant from left to right they may Syriac text look weird. So for both Syriac and Roman text search results in the search could we please just return the word in context with highlighting not italics.

See https://syriaccorpus.org/search.html?fq=;fq-Author:Philoxenos%20of%20Mabbug&q=%DC%A1%DC%A1%DC%A0%DC%A0%D

[2018-05-15 19:11] jedwardwalters opened #157 "Editorial titles"
@wsalesky On the landing page, in the list of editorial board members, can we make two small changes:
1) change the title after David Taylor's name from "editor-in-chief" to "Founding Editor"
2) add that same title (Founding Editor) after Kristian Heal's name

Thanks.

[2018-05-15 19:26] jedwardwalters commented on #157
@wsalesky Actually, I went ahead and did this change myself. No need to waste your time with tiny little HTML edits! However, I do need this change to be pushed from dev server to production.

[2018-05-15 19:27] dlschwartz opened #159 "Security Notice"
@wsalesky @jedwardwalters @davidamichelson I get a security notice stating "This page is trying to load scripts from unauthenticated sources." Any chance we can do something about that? Thanks.

![securitynotice](https://user-images.githubusercontent.com/4984270/40079033-11be9c32-584c-11e8-93b4-3f5173d92e9d.PNG)

[2018-05-15 19:30] jedwardwalters commented on #159
Interesting. I haven’t had any issues in firefox, but I just opened it with Chrome and got that same warning.

[2018-05-15 21:01] jedwardwalters opened #160 "Alternate author name spellings"
@davidamichelson @dlschwartz @wsalesky
Something to think about, but not necessarily an immediate need: Is there any way we could use the name spelling variants captured by the Syriac Biographical Dictionary in our search feature. For example, if you search for a word currently and write "Jacob of Sarug" instead of "Jacob of Serugh", you won't get any hits.

At least one solution would be to make

[2018-05-15 21:45] davidamichelson commented on #159
Must be certificate related. Can you document that in detail here (URL,
browser, OS) and I'll refer it to our Sys Admin.

On Tue, May 15, 2018 at 2:30 PM, jedwardwalters <notifications@github.com>
wrote:

[2018-05-15 22:26] wsalesky commented on #159
Hi all, I think I k ow what is causing this, will try to fix in the am.

Sent from my iPhone

[2018-05-15 23:00] davidamichelson commented on #160
This is definitely something we want and let's discuss with @wsalesky. A
temporary solution would be to import the name varients into the corpus
records for now.

On Tue, May 15, 2018 at 4:01 PM, jedwardwalters <notifications@github.com>
wrote:

[2018-05-16 13:10] wsalesky commented on #156
Italics removed. (may require a hard refresh to see.)

[2018-05-16 13:10] #156 closed

[2018-05-16 13:13] wsalesky commented on #141
@jedwardwalters Can we close this?

[2018-05-16 13:35] jedwardwalters commented on #141
I think so. If other more specific issues arise, we can create new issues for those.

[2018-05-16 13:35] #141 closed

[2018-05-16 13:44] wsalesky commented on #128
@davidamichelson @jedwardwalters Please review spacing and numbering on the dev server version of the text download. If this looks okay I will move it to Production.

[2018-05-16 13:45] wsalesky commented on #121
@davidamichelson I think we can mark this as resolved?

[2018-05-16 14:05] dlschwartz commented on #160
I'll put this on the agenda for Monday.

[2018-05-16 14:44] wsalesky commented on #106
Footnotes have been updated.

[2018-05-16 14:45] wsalesky commented on #106
We currently use the HTML that Sedra sends us, no post processing. If George adds  `@lang='syr'` to the Syriac text they should automatically use the correct fonts.

[2018-05-16 14:47] jedwardwalters opened #161 "Add xml:lang tags to footnotes"
Across corpus, add xml:lang="syr" to the `<p>` element within the `<note>` elements

[2018-05-16 14:56] #159 closed, assigned to wsalesky

[2018-05-16 15:36] wsalesky commented on #146
Using eXist-db's `httpclient:get()` as a workaround for now.

[2018-05-16 16:08] jedwardwalters commented on #157
The other changes from dev to production server that I mentioned on a different issue are showing up, but this one still isn't. Just FYI.

[2018-05-16 16:11] wsalesky commented on #157
Done.

[2018-05-16 16:11] #157 closed

[2018-05-16 16:12] jedwardwalters commented on #157
Thanks.

[2018-05-16 16:47] wsalesky commented on #122
Now linking to the correct wiki's. http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/documentation/index.html

[2018-05-16 16:48] jedwardwalters commented on #122
Thanks. I’m hoping to get these wikis edited this week.

[2018-05-16 17:16] #152 closed

[2018-05-16 17:26] davidamichelson commented on #121
Yes

[2018-05-16 17:26] #121 closed

[2018-05-16 17:28] davidamichelson commented on #106
Great, I sent an e-mail.

[2018-05-16 17:28] #106 closed

[2018-05-16 17:36] wsalesky commented on #128
Fixed

[2018-05-17 01:39] jedwardwalters opened #162 "Browse by Syriac title"
@wsalesky I hadn't noticed before, but only a very small number of titles appear in the "Browse by Syriac titles" tab, despite the fact that most Corpus entries have a Syriac title. Any ideas on why that's the case?

[2018-05-17 13:34] wsalesky commented on #128
Fixed. Close if the text output looks okay.

[2018-05-17 13:45] wsalesky commented on #162
@jedwardwalters Sorry the browse was on the wrong title.
`tei:titleStmt/tei:title[@level="s"][@ref]` in fact, that is what the English browse is on. Is that the correct title for the English browse, or should it just be on the first title? (I'm sure there was a reason I coded it that way, but it seems like the wrong one at this point.)

[2018-05-17 14:35] jedwardwalters commented on #162
Oh, so it’s pulling it from the NHSL work record?

Ideally those will be uniform, but there may be cases where they aren’t for various reasons. Is it possible to code the browse by the English and Syriac titles that are inside the `<title>` tag?

[2018-05-17 14:40] jedwardwalters opened #163 "Punctuation after source"
@wsalesky I know we've dealt with this a bit already, but I'm still not getting the period after the source (in About this digital text box) on a lot of records. It appears to be showing up on the ones that come from a manuscript: https://syriaccorpus.org/26.html

But not the ones that come from a print edition:
https://syriaccorpus.org/27.html
https://syriaccorpus.org/1.html

[2018-05-17 14:52] wsalesky commented on #162
Is it sorting correctly on the English browse? Should we be filtering out those numbers in the title?

[2018-05-17 14:55] wsalesky commented on #163
@jedwardwalters The period is on the dev server. I think I may have been waiting for citation approval before moving this to production. I will go ahead and move the changes to production .

[2018-05-17 14:56] jedwardwalters commented on #162
Oh, I hadn't even thought of that. Yes, We should probably filter out numbers and (if not already filtering them) also the, an, a

Also, I just noticed a curiosity in the Syriac browse. The top one that shows up under "All" starts with mem (ܡ), which is out of order, and the second one on the list doesn't even have a Syriac title (which is probably a mistake--I'll check on that). After those top t

[2018-05-17 15:03] wsalesky commented on #163
@jedwardwalters Okay, I merged changes on dev to production.

[2018-05-17 15:03] #163 closed

[2018-05-17 15:07] jedwardwalters commented on #163
Excellent. That seems to have fixed it across the board. Would you still like that list? Shouldn't be too hard to manufacture.

[2018-05-17 15:09] wsalesky commented on #163
Yes a list would be helpful, citations seem to be an ongoing source of pain for me, so when I change something I would like a check list to be able to prevent unindented consequences.

[2018-05-17 15:18] wsalesky commented on #162
@jedwardwalters the problem in the Syriac browse is in empty `tei:foreign` elements. They should not be there if they are empty.

See: https://syriaccorpus.org/381.tei

Italics I think I have finally fixed that issue as well. Please check.

[2018-05-18 01:46] wsalesky commented on #146
Updated, solved by not using the raw url to content. I think this fails on larger files.

[2018-05-18 01:46] #146 closed

[2018-05-18 18:38] jedwardwalters opened #165 "How to embed images in wiki"
@wsalesky @davidamichelson @dlschwartz Anyone know how to embed images in the github wiki? It asks for an image url when you try to insert an image (and there's no drag and drop option). Does that mean the files should live on github somewhere?

[2018-05-18 19:52] jedwardwalters opened #166 "NHSL Page in Wiki"
@nathangibson Feel free to add anything to this page for clarification:
https://github.com/srophe/syriac-corpus/wiki/Use-of-NHSL-Data

[2018-05-18 21:15] davidamichelson commented on #165
Odd, in an issue you can drop an image. I don't know the answer, but we
could put the images here:
https://github.com/srophe/syriac-corpus-app/tree/master/resources/img

[2018-05-19 19:08] jedwardwalters commented on #165
I think the issue with drag/drop has to do with the markdown format.

At any rate, your solution works perfectly:
https://github.com/srophe/syriac-corpus-app/wiki/How-to-View-and-Download-Texts-in-Various-Formats

[2018-05-19 19:08] #165 closed

[2018-05-19 19:35] jedwardwalters opened #167 "Pages for Menu"
@wsalesky What's the best way for us to set up pages for the top menu? Should I just send you the text that needs to be incorporated on each page? I see that there's a mostly empty "about.html" page -- do you want me to use that as a template and just create the html pages myself? I don't mind doing that. Just let me know what's easier for you.

[2018-05-19 19:50] wsalesky commented on #167
@jedwardwalters Add links to the menu here:
https://github.com/srophe/syriac-corpus-app/blob/master/templates/page.html#L111

(Each menu item should be in a `<li></li>`)

To add new pages you can just use the empty about.html page as a template and add the content to that. Let me know if you run into any issues. Make sure you are using XHTML (close all your tags) or it will not load into eXist.

[2018-05-19 19:52] jedwardwalters commented on #167
Got it. Is this the kind of thing I should do on dev first and then push over to production?

[2018-05-19 19:52] wsalesky commented on #167
Yes, then you can check how it looks before adding it to master.
-Winona

On Sat, May 19, 2018 at 3:52 PM, jedwardwalters <notifications@github.com>
wrote:

[2018-05-20 01:18] jedwardwalters opened #168 "HTML Pages vs. Wiki"
@davidamichelson Are there any information pages that should be hard-coded as HTML pages? Or should everything be in the Wiki?

For some reason, I had it in my mind that some thing (like the "about the project" page, or the "history of the project" page we've been working on, "project team", etc.) would be written as HTML pages. But now I'm wondering if there's any reason those shouldn't just be i

[2018-05-20 13:08] wsalesky commented on #162
@jedwardwalters Close if it looks okay.

[2018-05-21 14:52] davidamichelson commented on #168
Yeah, the same thought had crossed my mind. One issue would be the styling
as HTML is more flexible, but can you insert HTML into a github wiki?

On Sat, May 19, 2018 at 8:18 PM, jedwardwalters <notifications@github.com>
wrote:

[2018-05-21 15:47] jedwardwalters commented on #160
Closing this.

[2018-05-21 15:47] #160 closed

[2018-05-21 16:19] davidamichelson opened #169 "Caption for Header Image on Landing Page"
Needs a white space after colon between Credit: Image
Current "Photo Credit:Image Colchester 1932.228 f. 4b"
Revised "Photo Credit: Image Colchester 1932.228 f. 4b"

[2018-05-21 18:32] #168 closed

[2018-05-21 18:41] davidamichelson commented on #96
@wsalesky I made a change to the master branch of Srophe-App-Data for http://syriaca.org/person/321 (see https://github.com/srophe/srophe-app-data/commit/b7b12eb1ba4a565b85ac3ed7a711e3a137a0c791) but the webhooks do not seem to be pushing it to production.  Can you check please?

[2018-05-21 20:54] wsalesky commented on #167
@jedwardwalters A few things. I forgot that to get the record URI's to process correctly I had to make a 'safe list' for plain HTML pages in the controller.xql. So I had to add those pages to the list. Also, a few of your pages were malformed. What do you use to create the HTML? An editor like Oxygen should help you validate them before loading. All tags should be closed, and `&` should be escaped

[2018-05-21 21:01] jedwardwalters commented on #167
I’ll work on this tonight.

Sent from my iPhone

[2018-05-21 21:17] wsalesky commented on #96
@davidamichelson I checked webhooks, they were not working correctly. I have them back up now. I re-pushed that change, please let me know if you see your changes.

[2018-05-21 21:21] wsalesky commented on #167
Okay. Let me know if you want me to do anything. The pages probably could use some larger left/right margins.

[2018-05-22 02:38] jedwardwalters commented on #127
Page created in wiki.

[2018-05-22 02:38] #127 closed

[2018-05-22 02:46] jedwardwalters commented on #119
Page created in wiki.

[2018-05-22 02:46] #119 closed

[2018-05-22 02:55] jedwardwalters commented on #162
@wsalesky I made the changes to the two files that I know were wrong (because they were appearing out of order) - 364 and 381, but the results aren't showing correctly yet. Maybe those need to be pushed manually?

Once that's done we can close this out.

[2018-05-22 02:57] jedwardwalters commented on #136
We've got another issue open for issues pertaining to this.

[2018-05-22 02:57] #136 closed

[2018-05-22 02:57] jedwardwalters commented on #130
I think we resolved this?

[2018-05-22 02:57] #130 closed

[2018-05-22 02:59] jedwardwalters commented on #122
Closing this because wikis are up and running.

[2018-05-22 02:59] #122 closed

[2018-05-22 03:00] jedwardwalters commented on #116
I think we are all good on this issue too.

[2018-05-22 03:00] #116 closed

[2018-05-22 03:01] jedwardwalters commented on #104
This page is on the wiki now.

[2018-05-22 03:01] #104 closed

[2018-05-22 03:10] jedwardwalters commented on #96
I've made the corrections, but the webhooks still aren't working properly. @wsalesky when those changes get pushed, we can close this.

[2018-05-22 03:35] jedwardwalters commented on #169
@wsalesky I just adjusted this on the banner.html on the master branch, but the change hasn't showed up yet (even after hard refresh).

[2018-05-22 03:37] jedwardwalters commented on #167
I started working on this tonight. Here's a test run at making the about page look better:
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/about.html

I'll follow up and work on other pages tomorrow.

[2018-05-22 12:57] wsalesky commented on #96
@jedwardwalters Sorry, is this corpus data? or Syriaca.org data? Dev server or production? Thanks

[2018-05-22 13:25] jedwardwalters commented on #96
Oh, sorry for the confusion. Corpus data: production server. (pull request 194)

[2018-05-22 13:29] davidamichelson commented on #129
👍

[2018-05-22 13:43] wsalesky commented on #96
Okay I re-pushed them. I don't know why it failed. Please keep an eye on changes to production so I can do future troubleshooting if needed. Thanks!

[2018-05-22 13:46] jedwardwalters commented on #96
Great. Closing this one down.

[2018-05-22 13:46] #96 closed

[2018-05-22 13:52] wsalesky commented on #167
Looks much better. (Although you should remove that 'Place Holder' text at the bottom. )

[2018-05-22 14:03] jedwardwalters commented on #167
I'm just playing around with copying bits of your code. Which reminds me of a question: I can't figure out how you associate different banner images with different pages. I've been scouring the srophe pages, and I just can't seem to work it out.

[2018-05-22 14:09] wsalesky commented on #167
The different banners are included using `<xi:include href="banner.html"/>` pointing to the correct banner. The images in the banner are added via css (https://github.com/srophe/syriac-corpus-app/blob/master/resources/css/main.css#L181) You can change the class and add a new image by copying the CSS and changing the background image.

[2018-05-22 14:14] jedwardwalters commented on #167
Ah. The CSS step is the one I was missing. Thanks.

[2018-05-22 15:13] jedwardwalters commented on #167
Just did some further edits on about pages on dev server, but webhooks aren't picking them up.

[2018-05-22 15:20] jedwardwalters commented on #166
Emailing Nathan. This may not be the best way to bring this to his attention.

[2018-05-22 15:20] #166 closed

[2018-05-22 15:28] wsalesky commented on #167
Badly formatted pages failed, the final `<div>` was not closed. Should be okay now?

[2018-05-22 15:41] jedwardwalters commented on #167
Sorry. De-bugging my own bad html. I'll get back to you.

[2018-05-22 16:39] jedwardwalters commented on #167
Okay, I got my display issues worked out. I made a right-column box for links on the about page, but I can’t figure out how to populate it. I made an “about-menu.html”—mimicking what I saw on syriaca.org—but that didn’t do the trick. Any suggestions?

[2018-05-22 16:45] wsalesky commented on #167
You did everything right. the about-menu.html did not load to dev. Not sure why, looks okay to me. I added it.

[2018-05-22 18:16] jedwardwalters commented on #167
Yay, I got it right! Okay, so, to wrap this issue up on my end, I need to fix the other html pages I created.

However, the history.html and contact-us.html pages aren't loading at all. What needs to happen there?

[2018-05-22 18:43] jedwardwalters commented on #167
Those two pages are showing up as well-formed in Oxygen, and I just made a few tweaks to all of the html pages I created. I can see the About and Project Team pages fine (I think they're done). Still can't see History or Contact.

[2018-05-22 18:44] wsalesky commented on #167
I will take look when I get home

Sent from my iPhone

[2018-05-22 18:54] jedwardwalters commented on #167
Thank you. Sorry this caused so many issues. I think it's nearly done though. I'm also slogging through all of the documentation today.

[2018-05-22 19:43] jedwardwalters commented on #151
Done.

[2018-05-22 19:43] #151 closed

[2018-05-22 19:49] dlschwartz opened #187 "(Ps.) Clement works not expanding"
@wsalesky @jedwardwalters In browse, https://syriaccorpus.org/browse.html?lang=&alpha-filter=ALL&view=author, the works of Clement do not expand when selecting the "+" by the name.

[2018-05-22 19:52] jedwardwalters commented on #187
I can also just take out the (Ps.-) in the name if that's easier. I debated including it in the first place.

[2018-05-22 20:08] jedwardwalters opened #188 "Status and Type Documentation"
@wsalesky I don't remember where we discussed this, but on a previous issue we discussed having a small question mark beside "Status" and "Type of Text" in the right hand box that would link to the documentation for those pages. Here are the links:

Status: http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/documentation/wiki.html?wiki-page=/Status-of-Texts-in-the-Digital-Syriac-Corpus&wi

[2018-05-22 20:18] jedwardwalters opened #189 "Documentation"
@davidamichelson @dlschwartz I'd be happy to have any feedback on the Documentation Wiki pages.

http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/documentation/index.html

I've edited everything except "The Syriaca.org Web Application" because we said in our meeting last week that @wsalesky would edit that one.

[2018-05-22 20:26] jedwardwalters commented on #189
Note: per our discussion on Monday: I'm still wondering whether we should have a "Contributing to the Corpus" static html page, particularly for the reason of having a nice clean URL like syriaccorpus.org/submissions

I wouldn't even have to remove those pages (Ways to Contribute, Proposal Guidelines) from the wiki--I could link to them from the static page.

Any thoughts on this?

[2018-05-22 22:20] davidamichelson commented on #189
Go for it!

On Tue, May 22, 2018 at 3:26 PM, jedwardwalters <notifications@github.com>
wrote:

[2018-05-23 13:01] wsalesky commented on #189
@jedwardwalters I updated the "The Syriaca.org Web Application" wiki page.

[2018-05-23 13:10] wsalesky commented on #188
@jedwardwalters How is this? If you like the placement I will merge into master.

http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/1

[2018-05-23 13:16] wsalesky commented on #162
Fixed. https://syriaccorpus.org/browse.html?lang=syr&alpha-filter=ALL

[2018-05-23 13:16] #162 closed

[2018-05-23 13:26] jedwardwalters commented on #162
Thanks.

[2018-05-23 13:28] wsalesky commented on #187
@dlschwartz @jedwardwalters I fixed this. It now opens and closes and sorts correctly.

[2018-05-23 13:28] #187 closed

[2018-05-23 13:29] jedwardwalters commented on #187
Excellent. Thank you. And thanks for catching that, @dlschwartz!

[2018-05-23 13:33] jedwardwalters commented on #189
Thanks, @wsalesky. I probably won't get to the submissions.html page until after NAPS.

I think we are close, though, on being able to have the other menu pages and documentation pushed to production server. One issue (now that I can see the history page): The footnotes at the bottom of the page need some formatting. I wasn't sure how best to code those in html to make it easy on your end to style

[2018-05-23 13:43] wsalesky commented on #189
@jedwardwalters How does this look? I just added div's to make new lines. (Although I suppose you could just use a p or br tag)

[2018-05-23 13:49] jedwardwalters commented on #189
Thanks. I think I'll try to add some padding on the left and right margins.

[2018-05-23 13:52] jedwardwalters commented on #189
Before I mess with anything, would the best way to add padding be to add a p tag with class="indent"? If so, would that go around the `<span>` or inside it here:
https://github.com/srophe/syriac-corpus-app/blob/dev/history.html#L33

[2018-05-23 13:56] wsalesky commented on #189
You can add an additional class to the container.  `<div class="container">` becomes  `<div class="container indent">`

[2018-05-23 13:59] jedwardwalters commented on #189
Okay, I've done that now. But I didn't see any change to the format after a hard refresh.

[2018-05-23 14:05] wsalesky commented on #189
Sorry I had the file open on the server, it locked it so  webhooks failed. Try now.

[2018-05-23 14:11] jedwardwalters commented on #189
I want them to look like the footnotes on this page: http://syriaca.org/saints/intro.html

So, can I just re-do the notes using the format found here:
https://github.com/srophe/srophe-eXist-app/blob/master/srophe-app/saints/intro.html#L49
and here:
https://github.com/srophe/srophe-eXist-app/blob/master/srophe-app/saints/intro.html#L1034

[2018-05-23 14:15] wsalesky commented on #189
Yes, use the same format and the CSS should make it look the same.

[2018-05-23 15:31] davidamichelson commented on #167
@jedwardwalters I would like to suggest that the wiki page "Ways to Contribute" also be included in this about menu as a way to encourage contributions.

[2018-05-23 15:34] davidamichelson opened #191 "About the Project Page"
@jedwardwalters on the page http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/about.html

would you want to add the phrase: "All Syriac base texts are in the public domain." to the "Data Sharing" paragraph.

New:
All documents in the Digital Syriac Corpus are released under a under a Creative Commons Attribution 4.0 International Public License (CC-BY 4.0) and all the Syriac base texts a

[2018-05-23 15:34] davidamichelson commented on #189
@jedwardwalters It looks great to me!

[2018-05-23 15:35] jedwardwalters commented on #167
@davidamichelson I was thinking about that. Here are our options:
1) put links to "Ways to Contribute" and "Proposal Guidelines" from the wiki in the drop down menu
or
2) I'll create that submissions.html page to be included in the menu with some of that info and then links to the two wiki pages
Thoughts?

[2018-05-23 15:36] davidamichelson opened #192 "Side bar should match menu for About (missing link in sidebar to docuentation wiki)"
@wsalesky The links in the side bar on http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/about.html etc should match the About menu, but there is currently no link to "documentation" in the sidebar http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/documentation/index.html

[2018-05-23 15:38] jedwardwalters commented on #192
@davidamichelson I made that side bar menu, but I wasn't sure what link to use for Documentation since it's not on the production server yet.

@wsalesky I'm happy to do this, but I need a little guidance on how to insert that link.

[2018-05-23 15:51] davidamichelson opened #194 "Add side bar from About Pages to Landindg Page?"
@jedwardwalters What do you think? It might be nice to appear after teh sample entries.

[2018-05-23 15:57] wsalesky commented on #194
@jedwardwalters Sure, it is up, what do you think?

[2018-05-23 15:58] jedwardwalters commented on #189
@wsalesky I just added the re-formatted footnotes on history.html on dev, but those changes aren't showing up yet.

[2018-05-23 16:00] jedwardwalters commented on #192
Great, thanks. Going to add that now.

[2018-05-23 16:04] wsalesky commented on #189
It is there now, the font is larger, I think you can add class 'small' if you want to make it display smaller. I'm sending some instructions for troubleshooting, and resending failed webhook requests, via email.

[2018-05-23 16:04] davidamichelson commented on #167
Great, proposal guidelines is perhaps more direct, since the other might be
confused as a solicitation for donations.

On Wed, May 23, 2018 at 10:35 AM, jedwardwalters <notifications@github.com>
wrote:

[2018-05-23 16:05] davidamichelson commented on #194
Terrific! Thanks @wsalesky

[2018-05-23 16:05] #194 closed

[2018-05-23 16:05] jedwardwalters commented on #189
Thanks. I think I will make it a bit smaller. And thanks for instructions. I hate bothering you every time we need a web hook check!

[2018-05-23 16:16] davidamichelson commented on #169
This still seems to be an issue on the dev server at least.

[2018-05-23 16:16] davidamichelson commented on #169
@wsalesky FYI

[2018-05-23 16:19] davidamichelson opened #198 "Keyword in Context search results do not have tagging to control font?"
@wsalesky This might wait until later, so let's ask @jedwardwalters but the keyword in context results do not change their Syriac font when the font menu preference is changed.

Try this page: http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/search.html?q=%DC%93%DC%A1%DC%AA#

[2018-05-23 16:19] davidamichelson commented on #198
Same is true for the Syriac in the browse titles.

[2018-05-23 16:22] davidamichelson commented on #167
I don't know what I mean actually. Just wanted to point out that contribute
was ambiguous. I'll let you decide what is best and even contribute is fine.

On Wed, May 23, 2018 at 11:08 AM, jedwardwalters <notifications@github.com>
wrote:

[2018-05-23 16:25] davidamichelson commented on #198
Same link as in this issue, it is not the browse but the facets on the left.

On Wed, May 23, 2018 at 11:23 AM, Winona Salesky <notifications@github.com>
wrote:

[2018-05-23 16:26] wsalesky commented on #169
Ah, yes that would be the issue. I need to teach you git cherry-pick... For moving just one change to another branch.

[2018-05-23 16:27] jedwardwalters commented on #169
That might come in handy!

[2018-05-23 16:27] wsalesky commented on #198
Ah. Okay I will take a look.

[2018-05-23 16:32] davidamichelson commented on #191
:) I think Kristian choose it so we may need to ask him. We could always
use  ܓܘܼܫܡܵܐ

I think it may have been for ܛܸܟ݁ܣܵܐ

[2018-05-23 16:36] davidamichelson commented on #198
@wsalesky, this is not essential for right now though, I would prioritze
anything else first

On Wed, May 23, 2018 at 11:27 AM, Winona Salesky <notifications@github.com>
wrote:

[2018-05-23 17:22] davidamichelson commented on #191
Okay, I have no record of the decision in my e-mail, so I think Kristian must have chosen it and asked Winona to create it. I would check with him.

[2018-05-23 17:23] davidamichelson commented on #191
Also, we can't use ܓ because the Gazetteer already used it.

[2018-05-23 17:43] jedwardwalters commented on #188
Thanks, @davidamichelson. I'll get this adjusted.

[2018-05-23 17:56] #191 closed

[2018-05-23 18:00] jedwardwalters commented on #188
Done. Thanks for the help clarifying these things.

[2018-05-23 18:00] #188 closed

[2018-05-23 18:38] davidamichelson opened #202 "Sedra Integration Issues for later"
These issues are for later after release but documenting them now:

1. There is no documentation or logo or anything really that explains the existence of the SEDRA plug in, so users may not know how to use it.

2. Could we have a toggle button that turns it on and off and maybe has a an about link? This could go on the right or left column.

3. Speaking of the left column, it might make sense for

[2018-05-23 19:03] jedwardwalters commented on #189
@wsalesky One thing more, and I think we are ready to push the about pages and documentation wikis to the production server:

I created the submissions.html page. It shows up in the drop down menu and the about page menus, but the link doesn't actually load the page yet. I was having this same problem with history and contact-us, but that got resolved.

[2018-05-23 19:04] jedwardwalters opened #204 "404 page"
@wsalesky I know we fixed this once, but we aren't getting a proper 404 page when expected. It's just that blank white page that says "Easy does it!"

[2018-05-23 19:09] davidamichelson commented on #204
Also just for fun can we add the syriac text of Ecclesiastes 12:12 too!

[2018-05-23 19:15] jedwardwalters commented on #204
I went ahead and added the Syriac text.

[2018-05-23 19:29] davidamichelson commented on #189
Jamey this looks really great, you should be proud.

On Wed, May 23, 2018 at 2:03 PM, jedwardwalters <notifications@github.com>
wrote:

[2018-05-23 20:09] jedwardwalters commented on #189
Thanks, Dave, for all your help.

And thank you, Winona for all your hard work this week! If you don’t get around to pushing the documentation, etc. to production tonight, it’s not a crisis!

[2018-05-23 21:58] wsalesky commented on #189
@jedwardwalters I have the 404 working and the submissions back up. I will move everything over to production tonight.

[2018-05-23 22:00] jedwardwalters commented on #189
Thanks. I just spied an issue with my html formatting on submissions now that it's up. I'll fix that right now.

Also, I'm working from a train en route to Chicago!

[2018-05-23 22:00] wsalesky commented on #189
Whee! Okay, I'm done until after the kids go to bed, so I will check back
in around 9 EST.
-Winona

On Wed, May 23, 2018 at 6:00 PM, jedwardwalters <notifications@github.com>
wrote:

[2018-05-23 22:45] davidamichelson commented on #189
@jedwardwalters I noticed an issue with the mention of PDF in the submission guidelines. I am not sure it should be preferred over word processor. Let's discuss later.

[2018-05-23 22:50] jedwardwalters commented on #189
Yeah, you're right. That shouldn't be there. I know what I was thinking when I put it, but it doesn't actually make sense. I'll just remove the PDF line altogether.

[2018-05-24 01:18] wsalesky commented on #204
Updated.

[2018-05-24 01:18] #204 closed

[2018-05-24 01:25] jedwardwalters commented on #204
Just checked and it works fine.

[2018-05-24 01:29] jedwardwalters commented on #167
Everything looks great!

[2018-05-24 01:29] #167 closed

[2018-05-24 01:30] jedwardwalters commented on #189
Closing this one down too.

[2018-05-24 01:30] #189 closed

[2018-06-06 03:51] jedwardwalters opened #213 "webhook"
@wsalesky I just did a pull request with some edits to the history.html page, but the webhook failed (https://github.com/srophe/syriac-corpus-app/commit/4a7bd4499cad3df80ab016b2f936147ec05aedf9).

I looked at the webhook failure message, and it said "SSL peer certificate or SSH remote key was not OK" -- I'm not sure what that means.